/*
 * SPDX-FileCopyrightText: 2024-2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../style.css';

@layer components {
    .app {
        @apply flex flex-col box-border overflow-hidden h-full bg-palette-bg text-palette-fg;

        .main {
            @apply relative h-full flex-1 overflow-y-hidden;
        }

        .aside {
            @apply min-w-60;
        }

        .search {
            @apply w-60 self-center;
        }
    }

    .avatar {
        @apply w-6 h-6 me-1;
    }

    .error-actions {
        @apply flex flex-col gap-4 max-w-60;
    }
}
