/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

input[type=range] {
    @apply w-full my-2 bg-palette-bg-low text-palette-fg h-2 appearance-none rounded-full cursor-pointer border-[1px] border-palette-bg-high;

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
        @apply rounded-full w-3 h-3 bg-palette-bg;
        @apply border-3 border-palette-fg-high;
    }
}

@layer components {
    .c--range {
        --top: 5px;

        .fit-height {
            @apply !h-5;
        }

        .marks {
            @apply relative w-full;

            .item {
                @apply absolute translate-x-[-50%];
            }

            .item::before {
                top: var(--top);

                content: '';
                @apply absolute left-[40%] block w-1 h-1 rounded-full bg-palette-fg-high;
            }
        }
    }
}