/*
 * SPDX-FileCopyrightText: 2025-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference "../../style.css";

@layer components {
	.dropdown {
		@apply border border-palette-border rounded-md z-popover;
	}
}
