/*
 * SPDX-FileCopyrightText: 2024-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@import "tailwindcss";

@import "@cmfx/components/style.css";
@import "@cmfx/components/tailwind.css";
@import "@cmfx/admin/style.css";

@source ".";

.test {
	color: red;
}
