/*
 * SPDX-FileCopyrightText: 2024-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../style.css';

@layer components {
    .label {
        @apply flex items-center text-palette-fg gap-0.5;
    }
}
