/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

 @reference '../style.css';

 @layer components {
     .color-panel {
         @apply flex flex-col gap-2 p-2 bg-palette-bg text-palette-fg;

         >header {
             @apply flex justify-between items-center gap-2;

             .middle {
                @apply flex gap-1 items-center justify-center;

                .value {
                    @apply text-sm cursor-pointer;
                    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
                    @apply flex justify-center items-center h-8 w-fit px-2;
                    @apply border border-palette-border rounded-sm;
                    @apply hover:border-palette-border-focused;
                    @apply active:border-palette-border-actived;
                    @apply transition;
                }

                .wcag-value {
                    @apply cursor-pointer;
                }
             }
         }

         >main {
            /*
             * 面板大小依据 TailwindVarsSpace 计算的，
             * h-65 = 11 * h-5 + gap-1 * 10
             * w-131 = 22 * w-5 + gap-1 * 21
             */
            @apply h-65 w-131;

             .vars, .presets {
                 @apply grid grid-flow-col grid-rows-11 gap-1 w-full h-full;

                 .color {
                     @apply w-5 aspect-square cursor-pointer rounded-xs;
                     @apply border border-palette-border;
                     @apply hover:border-palette-border-focused;
                     @apply active:border-palette-border-actived;
                 }

                .color.selected {
                    @apply border-palette-border-selected text-palette-fg-selected bg-palette-bg-selected;
                }

                .color.disabled {
                    @apply border-palette-border-disabled text-palette-fg-disabled bg-palette-bg-disabled cursor-not-allowed;
                }
             }

             .oklch, .hsl, .rgb {
                 @apply w-full h-full flex flex-col gap-1 justify-between items-stretch;
             }
         }
     }

     .color-panel.disabled {
         >main {
             .vars {
                 .color {
                     @apply cursor-not-allowed;
                 }
             }
         }
     }
 }
