/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../../style.css';

@layer components {
    .calendar {
        @apply flex flex-col gap-1 h-full;

        header {
            @apply flex justify-between items-center mb-1;

            .title {
                @apply text-xl;
            }
        }

        .table {
            @apply border border-palette-bg-low w-full h-full;

            thead tr>th {
                @apply py-1 font-bold;
            }

            thead tr,
            tbody tr:not(:last-child) {
                @apply border-b border-b-palette-bg-low;
            }

            td {
                @apply min-w-[50px] min-h-[50px] w-1/7 px-[4px] py-[7px] cursor-pointer align-top;

                .day {
                    @apply mr-1 aspect-square w-8 text-center inline-flex items-center justify-center;
                }

                .day.today {
                    @apply rounded-full bg-palette-bg-low;
                }
            }

            td:hover {
                @apply bg-palette-bg-low;
            }

            td.current {
                @apply bg-palette-bg-high;
            }

            th:not(:last-child),
            td:not(:last-child) {
                @apply border-r border-r-palette-bg-low;
            }

            td.disabled {
                @apply text-palette-bg-low;
                @apply hover:text-palette-fg;
            }
        }
    }
}