/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
*/

@import 'material-symbols';
@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 1.3rem;
    box-sizing: border-box;
    flex: 0 0 0%;
}

@layer components {
    .scheme--primary {
        --bg: var(--primary-bg);
        --bg-low: var(--primary-bg-low);
        --bg-high: var(--primary-bg-high);
        --text: var(--primary-text);
        --text-low: var(--primary-text-low);
        --text-high: var(--primary-text-high);
    }

    .scheme--secondary {
        --bg: var(--secondary-bg);
        --bg-low: var(--secondary-bg-low);
        --bg-high: var(--secondary-bg-high);
        --text: var(--secondary-text);
        --text-low: var(--secondary-text-low);
        --text-high: var(--secondary-text-high);
    }

    .scheme--tertiary {
        --bg: var(--tertiary-bg);
        --bg-low: var(--tertiary-bg-low);
        --bg-high: var(--tertiary-bg-high);
        --text: var(--tertiary-text);
        --text-low: var(--tertiary-text-low);
        --text-high: var(--tertiary-text-high);
    }

    .scheme--error {
        --bg: var(--error-bg);
        --bg-low: var(--error-bg-low);
        --bg-high: var(--error-bg-high);
        --text: var(--error-text);
        --text-low: var(--error-text-low);
        --text-high: var(--error-text-high);
    }

    .scheme--surface {
        --bg: var(--surface-bg);
        --bg-low: var(--surface-bg-low);
        --bg-high: var(--surface-bg-high);
        --text: var(--surface-text);
        --text-low: var(--surface-text-low);
        --text-high: var(--surface-text-high);
    }

    .icon-container {
        @apply inline-flex items-center text-center;
    }

    /***************************** button **************************/

    .button {
        color: var(--text);
        @apply border border-transparent rounded-md text-sm py-1 px-2 md:py-2 md:px-4 disabled:cursor-not-allowed hover:enabled:bg-[var(--bg-high)];
    }

    .button--filled {
        background-color: var(--bg);
        @apply button;
    }

    .button--border {
        color: var(--bg);
        background-color: transparent;
        @apply button border border-solid;
    }

    .button--flat {
        background-color: transparent;
        color: var(--bg);
        @apply button;
        @apply hover:enabled:bg-[var(--bg-high)] hover:enabled:text-[var(--text)];
    }

    .icon-button {
        /* 始终要让 p-1 和 p-2 与 .button 中的 py 和 md:py 相同 */
        @apply border border-transparent text-sm p-1 md:p-2 disabled:cursor-not-allowed material-symbols-outlined;
        @apply hover:enabled:bg-[var(--bg-high)];
    }

    .icon-button--filled {
        background-color: var(--bg);
        @apply icon-button;
    }

    .icon-button--border {
        color: var(--text);
        background-color: transparent;
        @apply icon-button border border-solid;
    }

    .icon-button--flat {
        background-color: transparent;
        color: var(--bg);
        @apply icon-button;
        @apply hover:enabled:bg-[var(--bg-high)] hover:enabled:text-[var(--text)];
    }

    .icon-button--flat {
        @apply icon-button bg-transparent;
    }

    /***************************** form **************************/

    .field .error {
        @apply text-sm text-error min-h-5;
    }

    .text-field {
        @apply rounded-sm outline-none outline-inherit flex icon-container px-1 py-1 md:px-2 md:py-2 mt-1;
        @apply has-[:focus]:outline-[var(--text-high)] has-[:hover:enabled]:outline-[var(--text-high)];
        outline-color: var(--text-low);

        & input {
            @apply outline-none bg-transparent flex-1 px-1 w-full disabled:cursor-not-allowed read-only:cursor-default;
        }
    }

    .textarea {
        text-align: left !important;
        @apply rounded-sm bg-transparent outline-none outline-inherit flex icon-container px-1 py-1 md:px-2 md:py-2 mt-1 w-full;
        @apply focus:outline-[var(--text-high)] hover:enabled:outline-[var(--text-high)];
        outline-color: var(--bg-low);
    }

    /***************************** error **************************/

    .error-page {
        background-color: var(--bg);
        color: var(--text);
        @apply p-8 mx-auto w-dvw h-dvh content-center text-center;

        & h1 {
            @apply mb-4 text-7xl md:text-9xl tracking-tight font-extrabold;
        }

        .title {
            @apply mb-4 tracking-tight font-bold text-3xl md:text-4xl;
        }

        .detail {
            @apply mb-4 tracking-tight font-bold text-lg;
        }
    }

    /***************************** divider **************************/

    .divider {
        border: var(--text);
        color: var(--text);
        @apply flex content-center items-center;
    }

    /***************************** app **************************/

    .app {
        @apply flex flex-col box-border overflow-hidden h-dvh bg-surface text-surface;

        .app-bar {
            @apply w-dvw p-4 scheme--tertiary flex content-between bg-tertiary text-tertiary;
        }

        .app-main {
            @apply relative h-full flex-1 overflow-y-hidden;
        }
    }

    /***************************** notify **************************/

    .notify-wrapper {
        @apply absolute top-4 right-4 left-4 sm:left-auto flex-col;
        @apply sm:min-w-60 sm:max-w-[500px] sm:w-auto;

        .notify {
            background-color: var(--bg);
            color: var(--text);
            border-color: var(--bg-low);
            @apply rounded-md transition-[height] duration-100 mb-4 z-50 block w-full;

            .title {
                @apply p-3 flex justify-between icon-container;

                .close {
                    @apply material-symbols-outlined hover:cursor-pointer hover:text-[var(--text-high)];
                }
            }
        }
    }

    /***************************** drawer **************************/

    .drawer {
        @apply h-full w-full flex overflow-hidden;

        &>aside {
            @apply h-full bg-[var(--bg)] text-[var(--text)] transition-[width] duration-300;
        }

        >.hiden {
            @apply w-0;
        }

        &>main {
            @apply overflow-y-scroll h-full rounded-lg flex-1;
        }
    }

}
