/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
*/

/**
 * 当前文件主要定义了与主题相关的变量。
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #96454c;
    --secondary: #22c55e;
    --tertiary: #0ea5e9;
    --error: #dc2626;
    --surface: #71717a;

    --primary-bg-low: color-mix(in srgb, var(--primary), white 70%);
    --primary-bg: color-mix(in srgb, var(--primary), white 50%);
    --primary-bg-high: color-mix(in srgb, var(--primary), white 30%);
    --primary-text-low: var(--primary);
    --primary-text: color-mix(in srgb, var(--primary), black 30%);
    --primary-text-high: color-mix(in srgb, var(--primary), black 70%);

    --secondary-bg-low: color-mix(in srgb, var(--secondary), white 70%);
    --secondary-bg: color-mix(in srgb, var(--secondary), white 50%);
    --secondary-bg-high: color-mix(in srgb, var(--secondary), white 30%);
    --secondary-text-low: var(--secondary);
    --secondary-text: color-mix(in srgb, var(--secondary), black 30%);
    --secondary-text-high: color-mix(in srgb, var(--secondary), black 70%);

    --tertiary-bg-low: color-mix(in srgb, var(--tertiary), white 70%);
    --tertiary-bg: color-mix(in srgb, var(--tertiary), white 50%);
    --tertiary-bg-high: color-mix(in srgb, var(--tertiary), white 30%);
    --tertiary-text-low: var(--tertiary);
    --tertiary-text: color-mix(in srgb, var(--tertiary), black 30%);
    --tertiary-text-high: color-mix(in srgb, var(--tertiary), black 70%);

    --error-bg-low: color-mix(in srgb, var(--error), white 70%);
    --error-bg: color-mix(in srgb, var(--error), white 50%);
    --error-bg-high: color-mix(in srgb, var(--error), white 30%);
    --error-text-low: var(--error);
    --error-text: color-mix(in srgb, var(--error), black 30%);
    --error-text-high: color-mix(in srgb, var(--error), black 70%);

    --surface-bg-low: color-mix(in srgb, var(--surface), white 70%);
    --surface-bg: color-mix(in srgb, var(--surface), white 50%);
    --surface-bg-high: color-mix(in srgb, var(--surface), white 30%);
    --surface-text-low: var(--surface);
    --surface-text: color-mix(in srgb, var(--surface), black 30%);
    --surface-text-high: color-mix(in srgb, var(--surface), black 70%);

    --bg: var(--surface-bg);
    --bg-low: var(--surface-bg-low);
    --bg-high: var(--surface-bg-high);
    --text: var(--surface-text);
    --text-low: var(--surface-text-low);
    --text-high: var(--surface-text-high);

    /* 文本框中实际内容的最小尺寸，统一指定，方便控制。 */
    --min-input-height: 24px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg-low: var(--primary);
        --primary-bg: color-mix(in srgb, var(--primary), black 30%);
        --primary-bg-high: color-mix(in srgb, var(--primary), black 70%);
        --primary-text-low: color-mix(in srgb, var(--primary), white 70%);
        --primary-text: color-mix(in srgb, var(--primary), white 50%);
        --primary-text-high: color-mix(in srgb, var(--primary), white 30%);

        --secondary-bg-low: var(--secondary);
        --secondary-bg: color-mix(in srgb, var(--secondary), black 30%);
        --secondary-bg-high: color-mix(in srgb, var(--secondary), black 70%);
        --secondary-text-low: color-mix(in srgb, var(--secondary), white 70%);
        --secondary-text: color-mix(in srgb, var(--secondary), white 50%);
        --secondary-text-high: color-mix(in srgb, var(--secondary), white 30%);

        --tertiary-bg-low: var(--tertiary);
        --tertiary-bg: color-mix(in srgb, var(--tertiary), black 30%);
        --tertiary-bg-high: color-mix(in srgb, var(--tertiary), black 70%);
        --tertiary-text-low: color-mix(in srgb, var(--tertiary), white 70%);
        --tertiary-text: color-mix(in srgb, var(--tertiary), white 50%);
        --tertiary-text-high: color-mix(in srgb, var(--tertiary), white 30%);

        --error-bg-low: var(--error);
        --error-bg: color-mix(in srgb, var(--error), black 30%);
        --error-bg-high: color-mix(in srgb, var(--error), black 70%);
        --error-text-low: color-mix(in srgb, var(--error), white 70%);
        --error-text: color-mix(in srgb, var(--error), white 50%);
        --error-text-high: color-mix(in srgb, var(--error), white 30%);

        --surface-bg-low: var(--surface);
        --surface-bg: color-mix(in srgb, var(--surface), black 30%);
        --surface-bg-high: color-mix(in srgb, var(--surface), black 70%);
        --surface-text-low: color-mix(in srgb, var(--surface), white 70%);
        --surface-text: color-mix(in srgb, var(--surface), white 50%);
        --surface-text-high: color-mix(in srgb, var(--surface), white 30%);
    }
}
