/*
 * SPDX-FileCopyrightText: 2024-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference "../../style.css";

@layer components {
	.activator {
		.activator-container {
			@apply rounded-md border border-palette-border flex place-items-center px-2 py-1 cursor-pointer outline-none box-border;
			@apply has-[:focus:enabled]:border-palette-border-focused;
			@apply has-[:hover:enabled]:border-palette-border-focused;
			@apply has-[:active:enabled]:border-palette-border-actived;

			.input {
				@apply bg-transparent flex flex-wrap w-full gap-1 cursor-pointer items-center peer-read-only:cursor-default;

				.chip {
					@apply rounded-xs bg-palette-bg-high px-1 hover:bg-palette-bg-focused;
					@apply flex gap-1 justify-center items-center;

					.close {
						@apply text-base p-px bg-palette-bg/50 text-palette-fg/50;
						@apply hover:bg-palette-bg-focused/50 hover:text-palette-fg-focused/50;
						@apply active:bg-palette-bg-actived/50 active:text-palette-fg-actived/50;
					}
				}

				.placeholder {
					@apply text-palette-fg-low;
				}
			}

			.expand {
				@apply ms-auto;
			}
		}

		.activator-container.rounded {
			@apply rounded-full!;

			.chip {
				@apply rounded-full!;

				.close {
					@apply rounded-full!;
				}
			}
		}

		.activator-container:has(:disabled) {
			@apply cursor-not-allowed border-palette-border-disabled;

			.input {
				@apply cursor-not-allowed text-palette-bg-low;
			}

			.expand {
				@apply ms-auto items-center text-palette-bg-low;
			}
		}

		.activator-container:focus {
			@apply border-palette-border-focused;
		}
	}
}
