/*
 * SPDX-FileCopyrightText: 2025-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../../style.css';

@layer components {
    .field {
        display: grid;
        grid-template-rows: minmax(0, auto) 1fr minmax(0, auto);
        grid-template-columns: minmax(0, auto) 1fr minmax(0, auto);
        column-gap: var(--spacing);
        grid-template-areas: 'top-left top-center top-right'
            'middle-left middle-center middle-right'
            'bottom-left bottom-center bottom-right';
        align-items: center;
        justify-items: start;

        .help {
            @apply text-palette-fg-low min-h-5;
        }

        .help.error {
            @apply text-error-fg;
        }
    }
}
