/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@layer components {
    .c--text-field {
        @apply rounded-md border border-[var(--fg-low)] flex justify-between items-stretch text-center;
        @apply has-[:focus:enabled]:border-[var(--fg-high)] has-[:hover:enabled]:border-[var(--fg-high)];

        /* first-child 不一定是 prefix */
        >:first-child {
            @apply rounded-l-md;
        }

        >:last-child {
            @apply rounded-r-md;
        }

        .prefix {
            @apply flex overflow-clip;
        }

        .input {
            min-height: var(--min-input-height);
            @apply py-1 px-2 outline-none bg-transparent flex-1 w-full text-left;

            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;

        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .suffix {
            @apply flex;
        }

        .btn {
            @apply outline-none border-0 icon-container justify-center;
            @apply disabled:cursor-not-allowed focus:text-[var(--fg-high)] hover:enabled:text-[var(--fg-high)];
        }

        .btn:focus {
            @apply border-0 text-[var(--fg-high)];
        }
    }

    .c--text-field.rounded {
        @apply rounded-full;

        >:first-child {
            @apply rounded-l-full;
        }

        >:last-child {
            @apply rounded-r-full;
        }
    }
}
