/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference './style.css';

@layer components {
    .main {
        @apply flex flex-col h-full w-full;

        .actions {
            @apply flex gap-2 me-2;
        }

        .search {
            @apply @max-3xl/root:hidden;
        }
    }

    .error-actions {
        @apply flex flex-col gap-4 max-w-60;
    }
}
