/*
 * SPDX-FileCopyrightText: 2025-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@import "tailwindcss";

@import "@cmfx/components/style.css";
@import "@cmfx/illustrations/style.css";
@import "@cmfx/components/tailwind.css";

@source ".";
