/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@layer components {
    .c--dropdown {
        @apply relative;

        /* 防止父元素是 flex 时，撑大了此元素，导致 content 定位不准确。 */
        align-self: flex-start;

        .content {
            display: none;
            position: absolute;
        }

        .topleft {
            bottom: 100%;
            left: 0;
        }

        .topright {
            bottom: 100%;
            right: 0;
        }

        .bottomleft {
            top: 100%;
            left: 0;
        }

        .bottomright {
            top: 100%;
            right: 0;
        }

        .visible {
            @apply block;
        }
    }
}
