/*
 * SPDX-FileCopyrightText: 2024-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference "../style.css";

@layer components {
	.bar {
		@apply flex flex-wrap gap-2 justify-between items-center w-full;

		.start {
			@apply flex flex-1 gap-2 items-center justify-between;
		}

		.end {
			@apply flex-1;
		}
	}
}
