/*
 * SPDX-FileCopyrightText: 2024-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference "../../style.css";

@layer components {
	.number-spin {
		@apply px-px! py-0! rounded-none;
	}

	.count {
		@apply flex items-center justify-end pe-px;
	}
}
