/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

/*
 * 滚动条的定义
 *
 * 仅需支持 windows 下的 edge 即可，不需要改变其它浏览器的默认状态。
 */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-low) var(--bg-high);
}

::placeholder {
    color: var(--bg-low);
}

/* 减少动画 */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        transition-property: none !important;
        animation: none !important;
    }
}

kbd {
    @apply border border-palette-fg-low rounded-sm bg-palette-bg-low px-1 py-[1px];
}

/* 弹出框默认状态下的动画效果 */
@utility pop {
    visibility: hidden;
    opacity: 0;

    /* 两个属性同时发生变化，但是 visibility 没有过渡动画，等待时间到之后直接改变其属性。 */
    transition: visibility 0s var(--default-transition-duration), opacity var(--default-transition-duration) ease-in;
}

/* 弹出框打开状态下的动画效果 */
@utility popopen {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--default-transition-duration) ease-in;
}

/********************* popover *******************/

/* 调用者需要指定 display 属性，且值不能为 none */
[popover] {
    @apply pop;
}

[popover]:popover-open {
    @apply popopen shadow-md shadow-palette-bg-low;
}
