/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

/* 重定义 windows 下的 edge 滚动条 */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-low) var(--bg-high);
}

::placeholder {
    color: var(--bg-low);
}

kbd {
    @apply border border-palette-border rounded-sm bg-palette-bg-low px-1 py-px;
}

/*********************************** 减少动画 *******************************/

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        transition-property: none !important;
        animation: none !important;
    }
}

.prefers-reduced-motion {
    *,
    *::before,
    *::after {
        transition-property: none !important;
        animation: none !important;
    }
}

/********************* 为所有的 popover 添加动画效果 *******************/

/* 调用者需要指定非 none 的 display 属性 */
[popover] {
    @apply pop;
}

[popover]:popover-open {
    @apply popopen shadow-md;
}
