/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

/* 定义了主题变量 */

:root {
    color-scheme: light dark;

    --primary-bg-low: light-dark(var(--color-blue-100), var(--color-blue-800));
    --primary-bg: light-dark(var(--color-blue-300), var(--color-blue-900));
    --primary-bg-high: light-dark(var(--color-blue-400), var(--color-blue-950));
    --primary-fg-low: light-dark(var(--color-blue-800), var(--color-blue-100));
    --primary-fg: light-dark(var(--color-blue-900), var(--color-blue-300));
    --primary-fg-high: light-dark(var(--color-blue-950), var(--color-blue-400));

    --secondary-bg-low: light-dark(var(--color-teal-100), var(--color-teal-800));
    --secondary-bg: light-dark(var(--color-teal-300), var(--color-teal-900));
    --secondary-bg-high: light-dark(var(--color-teal-400), var(--color-teal-950));
    --secondary-fg-low: light-dark(var(--color-teal-800), var(--color-teal-100));
    --secondary-fg: light-dark(var(--color-teal-900), var(--color-teal-300));
    --secondary-fg-high: light-dark(var(--color-teal-950), var(--color-teal-400));

    --tertiary-bg-low: light-dark(var(--color-indigo-100), var(--color-indigo-800));
    --tertiary-bg: light-dark(var(--color-indigo-300), var(--color-indigo-900));
    --tertiary-bg-high: light-dark(var(--color-indigo-400), var(--color-indigo-950));
    --tertiary-fg-low: light-dark(var(--color-indigo-800), var(--color-indigo-100));
    --tertiary-fg: light-dark(var(--color-indigo-900), var(--color-indigo-300));
    --tertiary-fg-high: light-dark(var(--color-indigo-950), var(--color-indigo-400));

    --surface-bg-low: light-dark(var(--color-slate-100), var(--color-slate-800));
    --surface-bg: light-dark(var(--color-slate-300), var(--color-slate-900));
    --surface-bg-high: light-dark(var(--color-slate-400), var(--color-slate-950));
    --surface-fg-low: light-dark(var(--color-slate-800), var(--color-slate-100));
    --surface-fg: light-dark(var(--color-slate-900), var(--color-slate-300));
    --surface-fg-high: light-dark(var(--color-slate-950), var(--color-slate-400));

    --error-bg-low: light-dark(var(--color-red-100), var(--color-red-800));
    --error-bg: light-dark(var(--color-red-300), var(--color-red-900));
    --error-bg-high: light-dark(var(--color-red-400), var(--color-red-950));
    --error-fg-low: light-dark(var(--color-red-800), var(--color-red-100));
    --error-fg: light-dark(var(--color-red-900), var(--color-red-300));
    --error-fg-high: light-dark(var(--color-red-950), var(--color-red-400));

    --bg: var(--surface-bg);
    --bg-low: var(--surface-bg-low);
    --bg-high: var(--surface-bg-high);
    --fg: var(--surface-fg);
    --fg-low: var(--surface-fg-low);
    --fg-high: var(--surface-fg-high);
}

/********************* 预定义的调色板 **********************/

.palette--primary {
    --bg: var(--primary-bg);
    --bg-low: var(--primary-bg-low);
    --bg-high: var(--primary-bg-high);
    --fg: var(--primary-fg);
    --fg-low: var(--primary-fg-low);
    --fg-high: var(--primary-fg-high);
}

.palette--secondary {
    --bg: var(--secondary-bg);
    --bg-low: var(--secondary-bg-low);
    --bg-high: var(--secondary-bg-high);
    --fg: var(--secondary-fg);
    --fg-low: var(--secondary-fg-low);
    --fg-high: var(--secondary-fg-high);
}

.palette--tertiary {
    --bg: var(--tertiary-bg);
    --bg-low: var(--tertiary-bg-low);
    --bg-high: var(--tertiary-bg-high);
    --fg: var(--tertiary-fg);
    --fg-low: var(--tertiary-fg-low);
    --fg-high: var(--tertiary-fg-high);
}

.palette--error {
    --bg: var(--error-bg);
    --bg-low: var(--error-bg-low);
    --bg-high: var(--error-bg-high);
    --fg: var(--error-fg);
    --fg-low: var(--error-fg-low);
    --fg-high: var(--error-fg-high);
}

.palette--surface {
    --bg: var(--surface-bg);
    --bg-low: var(--surface-bg-low);
    --bg-high: var(--surface-bg-high);
    --fg: var(--surface-fg);
    --fg-low: var(--surface-fg-low);
    --fg-high: var(--surface-fg-high);
}

/****************** tailwind *********************/

@theme inline {
    --default-transition-duration: 300ms;

    --color-primary-bg-low: var(--primary-bg-low);
    --color-primary-bg: var(--primary-bg);
    --color-primary-bg-high: var(--primary-bg-high);
    --color-primary-fg-low: var(--primary-fg-low);
    --color-primary-fg: var(--primary-fg);
    --color-primary-fg-high: var(--primary-fg-high);
    --color-primary-border: --alpha(var(--primary-fg) / .7);
    --color-primary-bg-disabled: var(--primary-bg-low);
    --color-primary-fg-disabled: var(--primary-fg-low);
    --color-primary-border-disabled: --alpha(var(--primary-fg-low) / .5);
    --color-primary-bg-focused: --alpha(var(--primary-bg-low) / .7);
    --color-primary-fg-focused: --alpha(var(--primary-fg-low) / .7);
    --color-primary-border-focused: --alpha(var(--primary-fg-low) / .3);
    --color-primary-bg-selected: var(--primary-bg-high);
    --color-primary-fg-selected: var(--primary-fg-high);
    --color-primary-border-selected: --alpha(var(--primary-fg-high) / .5);
    --color-primary-bg-actived: --alpha(var(--primary-bg-high) / .7);
    --color-primary-fg-actived: --alpha(var(--primary-fg-high) / .7);
    --color-primary-border-actived: --alpha(var(--primary-fg-high) / .3);


    --color-secondary-bg-low: var(--secondary-bg-low);
    --color-secondary-bg: var(--secondary-bg);
    --color-secondary-bg-high: var(--secondary-bg-high);
    --color-secondary-fg-low: var(--secondary-fg-low);
    --color-secondary-fg: var(--secondary-fg);
    --color-secondary-fg-high: var(--secondary-fg-high);
    --color-secondary-border: --alpha(var(--secondary-fg) / .7);
    --color-secondary-bg-disabled: var(--secondary-bg-low);
    --color-secondary-fg-disabled: var(--secondary-fg-low);
    --color-secondary-border-disabled: --alpha(var(--secondary-fg-low) / .5);
    --color-secondary-bg-focused: --alpha(var(--secondary-bg-low) / .7);
    --color-secondary-fg-focused: --alpha(var(--secondary-fg-low) / .7);
    --color-secondary-border-focused: --alpha(var(--secondary-fg-low) / .3);
    --color-secondary-bg-selected: var(--secondary-bg-high);
    --color-secondary-fg-selected: var(--secondary-fg-high);
    --color-secondary-border-selected: --alpha(var(--secondary-fg-high) / .5);
    --color-secondary-bg-actived: --alpha(var(--secondary-bg-high) / .7);
    --color-secondary-fg-actived: --alpha(var(--secondary-fg-high) / .7);
    --color-secondary-border-actived: --alpha(var(--secondary-fg-high) / .3);

    --color-tertiary-bg-low: var(--tertiary-bg-low);
    --color-tertiary-bg: var(--tertiary-bg);
    --color-tertiary-bg-high: var(--tertiary-bg-high);
    --color-tertiary-fg-low: var(--tertiary-fg-low);
    --color-tertiary-fg: var(--tertiary-fg);
    --color-tertiary-fg-high: var(--tertiary-fg-high);
    --color-tertiary-border: --alpha(var(--tertiary-fg) / .7);
    --color-tertiary-bg-disabled: var(--tertiary-bg-low);
    --color-tertiary-fg-disabled: var(--tertiary-fg-low);
    --color-tertiary-border-disabled: --alpha(var(--tertiary-fg-low) / .5);
    --color-tertiary-bg-focused: --alpha(var(--tertiary-bg-low) / .7);
    --color-tertiary-fg-focused: --alpha(var(--tertiary-fg-low) / .7);
    --color-tertiary-border-focused: --alpha(var(--tertiary-fg-low) / .3);
    --color-tertiary-bg-selected: var(--tertiary-bg-high);
    --color-tertiary-fg-selected: var(--tertiary-fg-high);
    --color-tertiary-border-selected: --alpha(var(--tertiary-fg-high) / .5);
    --color-tertiary-bg-actived: --alpha(var(--tertiary-bg-high) / .7);
    --color-tertiary-fg-actived: --alpha(var(--tertiary-fg-high) / .7);
    --color-tertiary-border-actived: --alpha(var(--tertiary-fg-high) / .3);

    --color-surface-bg-low: var(--surface-bg-low);
    --color-surface-bg: var(--surface-bg);
    --color-surface-bg-high: var(--surface-bg-high);
    --color-surface-fg-low: var(--surface-fg-low);
    --color-surface-fg: var(--surface-fg);
    --color-surface-fg-high: var(--surface-fg-high);
    --color-surface-border: --alpha(var(--surface-fg) / .7);
    --color-surface-bg-disabled: var(--surface-bg-low);
    --color-surface-fg-disabled: var(--surface-fg-low);
    --color-surface-border-disabled: --alpha(var(--surface-fg-low) / .5);
    --color-surface-bg-focused: --alpha(var(--surface-bg-low) / .7);
    --color-surface-fg-focused: --alpha(var(--surface-fg-low) / .7);
    --color-surface-border-focused: --alpha(var(--surface-fg-low) / .3);
    --color-surface-bg-selected: var(--surface-bg-high);
    --color-surface-fg-selected: var(--surface-fg-high);
    --color-surface-border-selected: --alpha(var(--surface-fg-high) / .5);
    --color-surface-bg-actived: --alpha(var(--surface-bg-high) / .7);
    --color-surface-fg-actived: --alpha(var(--surface-fg-high) / .7);
    --color-surface-border-actived: --alpha(var(--surface-fg-high) / .3);

    --color-error-bg-low: var(--error-bg-low);
    --color-error-bg: var(--error-bg);
    --color-error-bg-high: var(--error-bg-high);
    --color-error-fg-low: var(--error-fg-low);
    --color-error-fg: var(--error-fg);
    --color-error-fg-high: var(--error-fg-high);
    --color-error-border: --alpha(var(--error-fg) / .7);
    --color-error-bg-disabled: var(--error-bg-low);
    --color-error-fg-disabled: var(--error-fg-low);
    --color-error-border-disabled: --alpha(var(--error-fg-low) / .5);
    --color-error-bg-focused: --alpha(var(--error-bg-low) / .7);
    --color-error-fg-focused: --alpha(var(--error-fg-low) / .7);
    --color-error-border-focused: --alpha(var(--error-fg-low) / .3);
    --color-error-bg-selected: var(--error-bg-high);
    --color-error-fg-selected: var(--error-fg-high);
    --color-error-border-selected: --alpha(var(--error-fg-high) / .5);
    --color-error-bg-actived: --alpha(var(--error-bg-high) / .7);
    --color-error-fg-actived: --alpha(var(--error-fg-high) / .7);
    --color-error-border-actived: --alpha(var(--error-fg-high) / .3);

    --color-palette-bg: var(--bg);
    --color-palette-bg-low: var(--bg-low);
    --color-palette-bg-high: var(--bg-high);
    --color-palette-fg: var(--fg);
    --color-palette-fg-low: var(--fg-low);
    --color-palette-fg-high: var(--fg-high);
    --color-palette-border: --alpha(var(--fg) / .7);
    --color-palette-bg-disabled: var(--bg-low);
    --color-palette-fg-disabled: var(--fg-low);
    --color-palette-border-disabled: --alpha(var(--fg-low) / .5);
    --color-palette-bg-focused: --alpha(var(--bg-low) / .7);
    --color-palette-fg-focused: --alpha(var(--fg-low) / .7);
    --color-palette-border-focused: --alpha(var(--fg-low) / .3);
    --color-palette-bg-selected: var(--bg-high);
    --color-palette-fg-selected: var(--fg-high);
    --color-palette-border-selected: --alpha(var(--fg-high) / .5);
    --color-palette-bg-actived: --alpha(var(--bg-high) / .7);
    --color-palette-fg-actived: --alpha(var(--fg-high) / .7);
    --color-palette-border-actived: --alpha(var(--fg-high) / .3);

    /*
     * NOTE: 需要保证与 base/theme/theme.ts 中 Breakpoint 类型的取值相对应
     *
     * 断点的值必须得是一个标准的 CSS 值，而不能是变量，@media var(--breakpoint-xs) 并不是一个有效的方式。
     */

    --breakpoint-xs: 34rem;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;

    --container-xs: 34rem;
    --container-sm: 40rem;
    --container-md: 48rem;
    --container-lg: 64rem;
    --container-xl: 80rem;
    --container-2xl: 96rem;
}

/* 界面上固定的按钮 */
@utility z-affix {
    z-index: 1000;
}

/* 提示信息 */
@utility z-tooltip {
    z-index: 2000;
}

/* 一此普通的弹出元素 */
@utility z-popover {
    z-index: 3000;
}

/* 通知类型的弹出元素 */
@utility z-notify {
    z-index: 5000;
}

/* 弹出对话框 */
@utility z-dialog {
    z-index: 7000;
}

/* 弹出框默认状态下的动画效果 */
@utility pop {
    visibility: hidden;
    opacity: 0;

    /* 两个属性同时发生变化，但是 visibility 没有过渡动画，等待时间到之后直接改变其属性。 */
    transition: visibility 0s var(--default-transition-duration), opacity var(--default-transition-duration) ease-in;
}

/* 弹出框打开状态下的动画效果 */
@utility popopen {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--default-transition-duration) ease-in;
}
