/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

/* 定义了主题变量 */

:root {
    color-scheme: light dark;

    /**
     * 重定义了 tailwind 的默认变量
     *
     * 默认值与 @theme 中定义的值是不相同的，默认值写在 @theme 中不起作用。
     */

    --default-transition-duration: 300ms;

    --primary: var(--color-blue-900);
    --secondary: var(--color-teal-900);
    --tertiary: var(--color-indigo-900);
    --surface: var(--color-slate-900);
    --error: var(--color-red-900);

    /**
     * 向外公开的各个色盘颜色变量
     */

    --primary-fg-low: light-dark(oklch(from var(--primary) 30% c h), oklch(from var(--primary) 90% c h));
    --primary-fg: light-dark(oklch(from var(--primary) 20% c h), oklch(from var(--primary) 80% c h));
    --primary-fg-high: light-dark(oklch(from var(--primary) 10% c h), oklch(from var(--primary) 70% c h));
    --primary-bg-low: light-dark(oklch(from var(--primary) 90% c h), oklch(from var(--primary) 30% c h));
    --primary-bg: light-dark(oklch(from var(--primary) 80% c h), oklch(from var(--primary) 20% c h));
    --primary-bg-high: light-dark(oklch(from var(--primary) 70% c h), oklch(from var(--primary) 10% c h));
    --primary-border: light-dark(oklch(from var(--primary) 20% c h / .7), oklch(from var(--primary) 80% c h / .7));
    --primary-border-low: light-dark(oklch(from var(--primary) 30% c h / .7), oklch(from var(--primary) 90% c h / .7));
    --primary-border-high: light-dark(oklch(from var(--primary) 10% c h / .7), oklch(from var(--primary) 70% c h / .7));

    --secondary-fg-low: light-dark(oklch(from var(--secondary) 30% c h), oklch(from var(--secondary) 90% c h));
    --secondary-fg: light-dark(oklch(from var(--secondary) 20% c h), oklch(from var(--secondary) 80% c h));
    --secondary-fg-high: light-dark(oklch(from var(--secondary) 10% c h), oklch(from var(--secondary) 70% c h));
    --secondary-bg-low: light-dark(oklch(from var(--secondary) 90% c h), oklch(from var(--secondary) 30% c h));
    --secondary-bg: light-dark(oklch(from var(--secondary) 80% c h), oklch(from var(--secondary) 20% c h));
    --secondary-bg-high: light-dark(oklch(from var(--secondary) 70% c h), oklch(from var(--secondary) 10% c h));
    --secondary-border: light-dark(oklch(from var(--secondary) 20% c h / .7), oklch(from var(--secondary) 80% c h / .7));
    --secondary-border-low: light-dark(oklch(from var(--secondary) 30% c h / .7), oklch(from var(--secondary) 90% c h / .7));
    --secondary-border-high: light-dark(oklch(from var(--secondary) 10% c h / .7), oklch(from var(--secondary) 70% c h / .7));

    --tertiary-fg-low: light-dark(oklch(from var(--tertiary) 30% c h), oklch(from var(--tertiary) 90% c h));
    --tertiary-fg: light-dark(oklch(from var(--tertiary) 20% c h), oklch(from var(--tertiary) 80% c h));
    --tertiary-fg-high: light-dark(oklch(from var(--tertiary) 10% c h), oklch(from var(--tertiary) 70% c h));
    --tertiary-bg-low: light-dark(oklch(from var(--tertiary) 90% c h), oklch(from var(--tertiary) 30% c h));
    --tertiary-bg: light-dark(oklch(from var(--tertiary) 80% c h), oklch(from var(--tertiary) 20% c h));
    --tertiary-bg-high: light-dark(oklch(from var(--tertiary) 70% c h), oklch(from var(--tertiary) 10% c h));
    --tertiary-border: light-dark(oklch(from var(--tertiary) 20% c h / .7), oklch(from var(--tertiary) 80% c h / .7));
    --tertiary-border-low: light-dark(oklch(from var(--tertiary) 30% c h / .7), oklch(from var(--tertiary) 90% c h / .7));
    --tertiary-border-high: light-dark(oklch(from var(--tertiary) 10% c h / .7), oklch(from var(--tertiary) 70% c h / .7));

    --error-fg-low: light-dark(oklch(from var(--error) 30% c h), oklch(from var(--error) 90% c h));
    --error-fg: light-dark(oklch(from var(--error) 20% c h), oklch(from var(--error) 80% c h));
    --error-fg-high: light-dark(oklch(from var(--error) 10% c h), oklch(from var(--error) 70% c h));
    --error-bg-low: light-dark(oklch(from var(--error) 90% c h), oklch(from var(--error) 30% c h));
    --error-bg: light-dark(oklch(from var(--error) 80% c h), oklch(from var(--error) 20% c h));
    --error-bg-high: light-dark(oklch(from var(--error) 70% c h), oklch(from var(--error) 10% c h));
    --error-border: light-dark(oklch(from var(--error) 20% c h / .7), oklch(from var(--error) 80% c h / .7));
    --error-border-low: light-dark(oklch(from var(--error) 30% c h / .7), oklch(from var(--error) 90% c h / .7));
    --error-border-high: light-dark(oklch(from var(--error) 10% c h / .7), oklch(from var(--error) 70% c h / .7));

    --surface-fg-low: light-dark(oklch(from var(--surface) 30% c h), oklch(from var(--surface) 90% c h));
    --surface-fg: light-dark(oklch(from var(--surface) 20% c h), oklch(from var(--surface) 80% c h));
    --surface-fg-high: light-dark(oklch(from var(--surface) 10% c h), oklch(from var(--surface) 70% c h));
    --surface-bg-low: light-dark(oklch(from var(--surface) 90% c h), oklch(from var(--surface) 30% c h));
    --surface-bg: light-dark(oklch(from var(--surface) 80% c h), oklch(from var(--surface) 20% c h));
    --surface-bg-high: light-dark(oklch(from var(--surface) 70% c h), oklch(from var(--surface) 10% c h));
    --surface-border: light-dark(oklch(from var(--surface) 20% c h / .7), oklch(from var(--surface) 80% c h / .7));
    --surface-border-low: light-dark(oklch(from var(--surface) 30% c h / .7), oklch(from var(--surface) 90% c h / .7));
    --surface-border-high: light-dark(oklch(from var(--surface) 10% c h / .7), oklch(from var(--surface) 70% c h / .7));

    /**
     * 当前色盘的颜色变量
     */

    --palette-fg-low: var(--surface-fg-low);
    --palette-fg: var(--surface-fg);
    --palette-fg-high: var(--surface-fg-high);
    --palette-bg-low: var(--surface-bg-low);
    --palette-bg: var(--surface-bg);
    --palette-bg-high: var(--surface-bg-high);
    --palette-border: var(--surface-border);
    --palette-border-low: var(--surface-border-low);
    --palette-border-high: var(--surface-border-high);
}

/********************* 预定义的调色板 **********************/

.palette--primary {
    --palette-fg-low: var(--primary-fg-low);
    --palette-fg: var(--primary-fg);
    --palette-fg-high: var(--primary-fg-high);
    --palette-bg-low: var(--primary-bg-low);
    --palette-bg: var(--primary-bg);
    --palette-bg-high: var(--primary-bg-high);
    --palette-border: var(--primary-border);
    --palette-border-low: var(--primary-border-low);
    --palette-border-high: var(--primary-border-high);
}

.palette--secondary {
    --palette-fg-low: var(--secondary-fg-low);
    --palette-fg: var(--secondary-fg);
    --palette-fg-high: var(--secondary-fg-high);
    --palette-bg-low: var(--secondary-bg-low);
    --palette-bg: var(--secondary-bg);
    --palette-bg-high: var(--secondary-bg-high);
    --palette-border: var(--secondary-border);
    --palette-border-low: var(--secondary-border-low);
    --palette-border-high: var(--secondary-border-high);
}

.palette--tertiary {
    --palette-fg-low: var(--tertiary-fg-low);
    --palette-fg: var(--tertiary-fg);
    --palette-fg-high: var(--tertiary-fg-high);
    --palette-bg-low: var(--tertiary-bg-low);
    --palette-bg: var(--tertiary-bg);
    --palette-bg-high: var(--tertiary-bg-high);
    --palette-border: var(--tertiary-border);
    --palette-border-low: var(--tertiary-border-low);
    --palette-border-high: var(--tertiary-border-high);
}

.palette--error {
    --palette-fg-low: var(--error-fg-low);
    --palette-fg: var(--error-fg);
    --palette-fg-high: var(--error-fg-high);
    --palette-bg-low: var(--error-bg-low);
    --palette-bg: var(--error-bg);
    --palette-bg-high: var(--error-bg-high);
    --palette-border: var(--error-border);
    --palette-border-low: var(--error-border-low);
    --palette-border-high: var(--error-border-high);
}

.palette--surface {
    --palette-fg-low: var(--surface-fg-low);
    --palette-fg: var(--surface-fg);
    --palette-fg-high: var(--surface-fg-high);
    --palette-bg-low: var(--surface-bg-low);
    --palette-bg: var(--surface-bg);
    --palette-bg-high: var(--surface-bg-high);
    --palette-border: var(--surface-border);
    --palette-border-low: var(--surface-border-low);
    --palette-border-high: var(--surface-border-high);
}

/****************** tailwind *********************/

@theme inline {
    --color-primary-fg-low: var(--primary-fg-low);
    --color-primary-fg: var(--primary-fg);
    --color-primary-fg-high: var(--primary-fg-high);
    --color-primary-bg-low: var(--primary-bg-low);
    --color-primary-bg: var(--primary-bg);
    --color-primary-bg-high: var(--primary-bg-high);
    --color-primary-border: var(--primary-border);
    --color-primary-bg-disabled: oklch(from var(--primary-bg-low) l .03 h);
    --color-primary-fg-disabled: oklch(from var(--primary-fg-low) l .03 h);
    --color-primary-border-disabled: oklch(from var(--primary-border-low) l .03 h);
    --color-primary-bg-focused: --alpha(var(--primary-bg-low) / .7);
    --color-primary-fg-focused: --alpha(var(--primary-fg-low) / .7);
    --color-primary-border-focused: var(--primary-border-low);
    --color-primary-bg-selected: var(--primary-bg-high);
    --color-primary-fg-selected: var(--primary-fg-high);
    --color-primary-border-selected: var(--primary-border-high);
    --color-primary-bg-actived: --alpha(var(--primary-bg-high) / .7);
    --color-primary-fg-actived: --alpha(var(--primary-fg-high) / .7);
    --color-primary-border-actived: --alpha(var(--primary-border-high) / .3);

    --color-secondary-fg-low: var(--secondary-fg-low);
    --color-secondary-fg: var(--secondary-fg);
    --color-secondary-fg-high: var(--secondary-fg-high);
    --color-secondary-bg-low: var(--secondary-bg-low);
    --color-secondary-bg: var(--secondary-bg);
    --color-secondary-bg-high: var(--secondary-bg-high);
    --color-secondary-border: var(--secondary-border);
    --color-secondary-bg-disabled: oklch(from var(--secondary-bg-low) l .03 h);
    --color-secondary-fg-disabled: oklch(from var(--secondary-fg-low) l .03 h);
    --color-secondary-border-disabled: oklch(from var(--secondary-border-low) l .03 h);
    --color-secondary-bg-focused: --alpha(var(--secondary-bg-low) / .7);
    --color-secondary-fg-focused: --alpha(var(--secondary-fg-low) / .7);
    --color-secondary-border-focused: var(--secondary-border-low);
    --color-secondary-bg-selected: var(--secondary-bg-high);
    --color-secondary-fg-selected: var(--secondary-fg-high);
    --color-secondary-border-selected: var(--secondary-border-high);
    --color-secondary-bg-actived: --alpha(var(--secondary-bg-high) / .7);
    --color-secondary-fg-actived: --alpha(var(--secondary-fg-high) / .7);
    --color-secondary-border-actived: --alpha(var(--secondary-border-high) / .3);

    --color-tertiary-fg-low: var(--tertiary-fg-low);
    --color-tertiary-fg: var(--tertiary-fg);
    --color-tertiary-fg-high: var(--tertiary-fg-high);
    --color-tertiary-bg-low: var(--tertiary-bg-low);
    --color-tertiary-bg: var(--tertiary-bg);
    --color-tertiary-bg-high: var(--tertiary-bg-high);
    --color-tertiary-border: var(--tertiary-border);
    --color-tertiary-bg-disabled: oklch(from var(--tertiary-bg-low) l .03 h);
    --color-tertiary-fg-disabled: oklch(from var(--tertiary-fg-low) l .03 h);
    --color-tertiary-border-disabled: oklch(from var(--tertiary-border-low) l .03 h);
    --color-tertiary-bg-focused: --alpha(var(--tertiary-bg-low) / .7);
    --color-tertiary-fg-focused: --alpha(var(--tertiary-fg-low) / .7);
    --color-tertiary-border-focused: var(--tertiary-border-low);
    --color-tertiary-bg-selected: var(--tertiary-bg-high);
    --color-tertiary-fg-selected: var(--tertiary-fg-high);
    --color-tertiary-border-selected: var(--tertiary-border-high);
    --color-tertiary-bg-actived: --alpha(var(--tertiary-bg-high) / .7);
    --color-tertiary-fg-actived: --alpha(var(--tertiary-fg-high) / .7);
    --color-tertiary-border-actived: --alpha(var(--tertiary-border-high) / .3);

    --color-error-fg-low: var(--error-fg-low);
    --color-error-fg: var(--error-fg);
    --color-error-fg-high: var(--error-fg-high);
    --color-error-bg-low: var(--error-bg-low);
    --color-error-bg: var(--error-bg);
    --color-error-bg-high: var(--error-bg-high);
    --color-error-border: var(--error-border);
    --color-error-bg-disabled: oklch(from var(--error-bg-low) l .03 h);
    --color-error-fg-disabled: oklch(from var(--error-fg-low) l .03 h);
    --color-error-border-disabled: oklch(from var(--error-border-low) l .03 h);
    --color-error-bg-focused: --alpha(var(--error-bg-low) / .7);
    --color-error-fg-focused: --alpha(var(--error-fg-low) / .7);
    --color-error-border-focused: var(--error-border-low);
    --color-error-bg-selected: var(--error-bg-high);
    --color-error-fg-selected: var(--error-fg-high);
    --color-error-border-selected: var(--error-border-high);
    --color-error-bg-actived: --alpha(var(--error-bg-high) / .7);
    --color-error-fg-actived: --alpha(var(--error-fg-high) / .7);
    --color-error-border-actived: --alpha(var(--error-border-high) / .3);

    --color-surface-fg-low: var(--surface-fg-low);
    --color-surface-fg: var(--surface-fg);
    --color-surface-fg-high: var(--surface-fg-high);
    --color-surface-bg-low: var(--surface-bg-low);
    --color-surface-bg: var(--surface-bg);
    --color-surface-bg-high: var(--surface-bg-high);
    --color-surface-border: var(--surface-border);
    --color-surface-bg-disabled: oklch(from var(--surface-bg-low) l .03 h);
    --color-surface-fg-disabled: oklch(from var(--surface-fg-low) l .03 h);
    --color-surface-border-disabled: oklch(from var(--surface-border-low) l .03 h);
    --color-surface-bg-focused: --alpha(var(--surface-bg-low) / .7);
    --color-surface-fg-focused: --alpha(var(--surface-fg-low) / .7);
    --color-surface-border-focused: var(--surface-border-low);
    --color-surface-bg-selected: var(--surface-bg-high);
    --color-surface-fg-selected: var(--surface-fg-high);
    --color-surface-border-selected: var(--surface-border-high);
    --color-surface-bg-actived: --alpha(var(--surface-bg-high) / .7);
    --color-surface-fg-actived: --alpha(var(--surface-fg-high) / .7);
    --color-surface-border-actived: --alpha(var(--surface-border-high) / .3);

    --color-palette-fg-low: var(--palette-fg-low);
    --color-palette-fg: var(--palette-fg);
    --color-palette-fg-high: var(--palette-fg-high);
    --color-palette-bg-low: var(--palette-bg-low);
    --color-palette-bg: var(--palette-bg);
    --color-palette-bg-high: var(--palette-bg-high);
    --color-palette-border: var(--palette-border);
    --color-palette-bg-disabled: oklch(from var(--palette-bg-low) l .03 h);
    --color-palette-fg-disabled: oklch(from var(--palette-fg-low) l .03 h);
    --color-palette-border-disabled: oklch(from var(--palette-border-low) l .03 h);
    --color-palette-bg-focused: --alpha(var(--palette-bg-low) / .7);
    --color-palette-fg-focused: --alpha(var(--palette-fg-low) / .7);
    --color-palette-border-focused: var(--palette-border-low);
    --color-palette-bg-selected: var(--palette-bg-high);
    --color-palette-fg-selected: var(--palette-fg-high);
    --color-palette-border-selected: var(--palette-border-high);
    --color-palette-bg-actived: --alpha(var(--palette-bg-high) / .7);
    --color-palette-fg-actived: --alpha(var(--palette-fg-high) / .7);
    --color-palette-border-actived: --alpha(var(--palette-border-high) / .3);

    /*
     * NOTE: 需要保证与 base/theme/theme.ts 中 Breakpoint 类型的取值相对应
     *
     * 断点的值必须得是一个标准的 CSS 值，而不能是变量，@media var(--breakpoint-xs) 并不是一个有效的方式。
     */

    --breakpoint-xs: 34rem;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;

    --container-xs: 34rem;
    --container-sm: 40rem;
    --container-md: 48rem;
    --container-lg: 64rem;
    --container-xl: 80rem;
    --container-2xl: 96rem;
}

/* 界面上固定的按钮 */
@utility z-affix {
    z-index: 1000;
}

/* 提示信息 */
@utility z-tooltip {
    z-index: 2000;
}

/* 一此普通的弹出元素 */
@utility z-popover {
    z-index: 3000;
}

/* 通知类型的弹出元素 */
@utility z-notify {
    z-index: 5000;
}

/* 弹出对话框 */
@utility z-dialog {
    z-index: 7000;
}

/* 弹出框默认状态下的动画效果 */
@utility pop {
    visibility: hidden;
    opacity: 0;

    /* 两个属性同时发生变化，但是 visibility 没有过渡动画，等待时间到之后直接改变其属性。 */
    transition: visibility 0s var(--default-transition-duration), opacity var(--default-transition-duration) ease-in;
}

/* 弹出框打开状态下的动画效果 */
@utility popopen {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--default-transition-duration) ease-in;
}
