/*
 * SPDX-FileCopyrightText: 2025-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference "../style.css";

@layer components {
	.tab {
		@apply flex flex-col border border-palette-border rounded-lg overflow-clip text-palette-fg bg-palette-bg;

		> .tabs {
			@apply flex gap-0;

			> button.prev,
			> button.next {
				@apply cursor-pointer flex justify-center items-center shrink-0;
				@apply hover:bg-palette-bg-focused hover:text-palette-fg-focused;
				@apply active:bg-palette-bg-actived active:text-palette-fg-actived;
			}

			> .scroller {
				> div {
					.item {
						@apply px-4 py-2 text-center min-w-0 min-h-0;
						@apply transition;
					}

					.item:disabled {
						@apply cursor-not-allowed;
						@apply text-palette-fg-low;
					}

					.item:enabled {
						@apply cursor-pointer;
						@apply hover:bg-palette-bg-focused hover:text-palette-fg-focused;
						@apply focus:bg-palette-bg-focused focus:text-palette-fg-focused;
						@apply active:bg-palette-bg-actived active:text-palette-fg-actived;
					}

					.item.select {
						@apply bg-palette-bg-high text-palette-fg-high;
					}
				}
			}
		}

		> .tabs.has-panel {
			@apply border-b border-b-palette-border;
		}
	}

	.tab.horizontal {
		@apply max-w-fit;

		> .tabs {
			@apply max-w-fit w-full;

			> button.prev,
			> button.next {
				@apply flex justify-center w-4;
			}

			> button.prev {
				@apply border-e border-e-palette-border;
			}

			> button.next {
				@apply border-s border-s-palette-border;
			}

			> .scroller {
				@apply overflow-x-hidden;

				> div {
					@apply flex w-fit;

					.item:not(:last-child) {
						@apply border-e border-e-palette-border;
					}
				}
			}
		}
	}

	.tab.vertical {
		@apply max-h-fit;

		@apply flex-row w-fit h-full;

		> .tabs {
			@apply flex-col h-full max-h-fit;

			> button.prev,
			> button.next {
				@apply flex justify-center h-4;
			}

			> button.prev {
				@apply border-b border-b-palette-border;
			}

			> button.next {
				@apply border-t border-t-palette-border;
			}

			> .scroller {
				@apply overflow-y-hidden;

				> div {
					@apply flex flex-col h-fit;

					.item {
						@apply text-start;
					}

					.item:not(:last-child) {
						@apply border-b border-b-palette-border;
					}
				}
			}
		}

		> .tabs.has-panel {
			@apply border-e border-e-palette-border;
		}
	}
}
