/*
 * SPDX-FileCopyrightText: 2025-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../style.css';

@layer components {
    .settings {
        @apply bg-palette-bg pb-3;

        .radios {
            @apply w-fit;
        }

        .ds-demo {
            @apply px-1 my-1 border-l-2 border-palette-bg-low text-sm;
        }

        .stays {
            @apply w-40;
        }

        .checkbox {
            @apply justify-start;
        }

        .notify {
            @apply flex gap-5 justify-start;
        }

        .range {
            @apply w-100;
        }
    }
}
