/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
*/

@layer components {
    .c--checkbox {
        @apply border-2 border-transparent c--icon-container text-palette-fg;

        .checkbox-icon {
            @apply mr-1;
        }
    }

    .c--checkbox.c--checkbox-border {
        @apply border-[var(--fg-low)] rounded-sm has-[:checked]:border-[var(--bg)];
    }

    .c--checkbox:focus-visible {
        outline: none;
        .checkbox-icon {
            color: var(--fg-high);
        }
    }

    .c--checkbox:has(:enabled):hover {
        cursor: pointer;

        .checkbox-icon {
            color: var(--fg-high);
        }
    }

    .c--checkbox.c--checkbox-border:has(:enabled):hover {
        @apply border-[var(--bg-high)];
    }

    .c--checkbox:has(:disabled) {
        @apply cursor-not-allowed text-[var(--bg-low)];
    }

    .c--checkbox-group {
        .content {
            @apply flex flex-wrap gap-1
        }
    }
}
