/*
 * SPDX-FileCopyrightText: 2024-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@import "tailwindcss";
@import "@cmfx/components/tailwind.css";
@source ".";

.view-full {
	width: 100dvw;
	height: 100dvh;
}
