/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */


@layer components {
    .c--radio-group {
        label {
            @apply border-2 border-transparent flex items-center text-palette-fg box-border;

            .radio-icon {
                @apply mr-1;
            }
        }

        label.border {
            @apply border-palette-bg-low rounded-sm;
            @apply has-[:checked]:border-palette-fg-high;
        }

        .content {
            @apply flex flex-wrap gap-1;
        }
    }

    .c--radio-group:enabled {
        label {
            cursor: pointer;
        }

        label:focus-visible {
            outline: none;

            .radio-icon {
                color: var(--fg-high);
            }
        }

        label.border {
            @apply hover:border-[var(--bg-high)];
        }

        label:hover .radio-icon {
            color: var(--fg-high);
        }
    }

    .c--radio-group:disabled {
        @apply cursor-not-allowed;

        label {
            @apply cursor-not-allowed text-palette-bg-low;

            .radio-icon {
                cursor: not-allowed;
            }
        }
    }
}
