/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */


@layer components {
    .c--radio-group {
        label {
            @apply border-2 border-transparent icon-container;

            .radio-icon {
                color: var(--fg);
                @apply mr-1;
            }
        }

        label.border {
            @apply border-[var(--fg-low)] rounded-sm has-[:checked]:border-[var(--fg-high)];
        }

        .content {
            @apply flex flex-wrap gap-1
        }
    }

    .c--radio-group:enabled {
        label {
            cursor: pointer;
        }

        label:has(:focus) .radio-icon {
            color: var(--bg-low);
        }

        label.border {
            @apply hover:border-[var(--bg-high)];
        }

        label:hover .radio-icon {
            color: var(--bg-high);
        }
    }

    .c--radio-group:disabled {
        cursor: not-allowed;

        label {
            cursor: not-allowed;

            .radio-icon {
                cursor: not-allowed;
            }
        }
    }
}
