/*
 * SPDX-FileCopyrightText: 2024-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference "../style.css";

@layer components {
	.card {
		@apply rounded-lg flex flex-col text-palette-fg bg-palette-bg border border-palette-border;

		.header {
			@apply px-3 py-2 border-b-palette-border border-b flex;
		}

		.main {
			@apply px-3 py-2;
		}

		.footer {
			@apply px-3 py-2 border-t-palette-border border-t flex;
		}
	}
}
