/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */

/*
 * 当前文件定义了与主题相关的 CSS 变量。
 *
 * ## 颜色
 *
 * 颜色被分为 primary、secondary、tertiary、surface 和 error 五个色盘，
 * 每个色盘衍生出 bg、bg-low、bg-high、fg、fg-low 和 fg-high 六种颜色。
 *
 * 对于使用者，可以直接通过 var(--primary-bg) 等变量直接调用颜色，
 * 或是采用 var(--bg) 读取当前上下文中色盘中的衍生颜色。
 * 两种方式，前者颜色固定，后者向上查找最近定义的 .palette--* 类型，从中获取值。
 *
 * 如果需要自定义颜色，有以下几种方式：
 *  - 指定 --primary、--error、--secondary、--tertiary 和 --surface 五种色相，其中只有 --primary 是必须指定的；
 *  - 指定所有色盘的所有衍生色，每个衍生色需要用 light-dark 同时指定深色和浅色模式下的颜色值；
 * NOTE: 色相 (hue) 的值，在 0-360 之间，具体说明可参考：https://developer.mozilla.org/zh-CN/docs/Web/CSS/color_value/lch#%E5%8F%96%E5%80%BC。
 *
 * --contrast 表示对比度，0-100，100 为最高对比度。
 */

:root {
    --primary: 0;
    --error: 20;
    --secondary: calc(var(--primary) + 60);
    --tertiary: calc(var(--primary) + 120);
    --surface: calc(var(--primary) + 180);

    --contrast: 100;

    /* 动画时间 */
    --transition-duration: 300ms;
}

:root {
    --luminance-low: 30;
    --luminance: 15;
    --luminance-high: 0;

    --invert-luminance-low: calc(var(--contrast) - var(--luminance-low));
    --invert-luminance: calc(var(--contrast) - var(--luminance));
    --invert-luminance-high: calc(var(--contrast) - var(--luminance-high));
}


:root {
    color-scheme: light dark;

    --primary-bg-low: light-dark(lch(var(--invert-luminance-low) 50 var(--primary)), lch(var(--luminance-low) 100 var(--primary)));
    --primary-bg: light-dark(lch(var(--invert-luminance) 50 var(--primary)), lch(var(--luminance) 100 var(--primary)));
    --primary-bg-high: light-dark(lch(var(--invert-luminance-high) 50 var(--primary)), lch(var(--luminance-high) 100 var(--primary)));
    --primary-fg-low: light-dark(lch(var(--luminance-low) 100 var(--primary)), lch(var(--invert-luminance-low) 50 var(--primary)));
    --primary-fg: light-dark(lch(var(--luminance) 100 var(--primary)), lch(var(--invert-luminance) 50 var(--primary)));
    --primary-fg-high: light-dark(lch(var(--luminance-high) 100 var(--primary)), lch(var(--invert-luminance-high) 50 var(--primary)));

    --secondary-bg-low: light-dark(lch(var(--invert-luminance-low) 50 var(--secondary)), lch(var(--luminance-low) 100 var(--secondary)));
    --secondary-bg: light-dark(lch(var(--invert-luminance) 50 var(--secondary)), lch(var(--luminance) 100 var(--secondary)));
    --secondary-bg-high: light-dark(lch(var(--invert-luminance-high) 50 var(--secondary)), lch(var(--luminance-high) 100 var(--secondary)));
    --secondary-fg-low: light-dark(lch(var(--luminance-low) 100 var(--secondary)), lch(var(--invert-luminance-low) 50 var(--secondary)));
    --secondary-fg: light-dark(lch(var(--luminance) 100 var(--secondary)), lch(var(--invert-luminance) 50 var(--secondary)));
    --secondary-fg-high: light-dark(lch(var(--luminance-high) 100 var(--secondary)), lch(var(--invert-luminance-high) 50 var(--secondary)));

    --tertiary-bg-low: light-dark(lch(var(--invert-luminance-low) 50 var(--tertiary)), lch(var(--luminance-low) 100 var(--tertiary)));
    --tertiary-bg: light-dark(lch(var(--invert-luminance) 50 var(--tertiary)), lch(var(--luminance) 100 var(--tertiary)));
    --tertiary-bg-high: light-dark(lch(var(--invert-luminance-high) 50 var(--tertiary)), lch(var(--luminance-high) 100 var(--tertiary)));
    --tertiary-fg-low: light-dark(lch(var(--luminance-low) 100 var(--tertiary)), lch(var(--invert-luminance-low) 50 var(--tertiary)));
    --tertiary-fg: light-dark(lch(var(--luminance) 100 var(--tertiary)), lch(var(--invert-luminance) 50 var(--tertiary)));
    --tertiary-fg-high: light-dark(lch(var(--luminance-high) 100 var(--tertiary)), lch(var(--invert-luminance-high) 50 var(--tertiary)));

    --surface-bg-low: light-dark(lch(var(--invert-luminance-low) 10 var(--surface)), lch(var(--luminance-low) 10 var(--surface)));
    --surface-bg: light-dark(lch(var(--invert-luminance) 10 var(--surface)), lch(var(--luminance) 10 var(--surface)));
    --surface-bg-high: light-dark(lch(var(--invert-luminance-high) 10 var(--surface)), lch(var(--luminance-high) 10 var(--surface)));
    --surface-fg-low: light-dark(lch(var(--luminance-low) 10 var(--surface)), lch(var(--invert-luminance-low) 50 var(--surface)));
    --surface-fg: light-dark(lch(var(--luminance) 10 var(--surface)), lch(var(--invert-luminance) 50 var(--surface)));
    --surface-fg-high: light-dark(lch(var(--luminance-high) 10 var(--surface)), lch(var(--invert-luminance-high) 50 var(--surface)));

    --error-bg-low: light-dark(lch(var(--invert-luminance-low) 50 var(--error)), lch(var(--luminance-low) 100 var(--error)));
    --error-bg: light-dark(lch(var(--invert-luminance) 50 var(--error)), lch(var(--luminance) 100 var(--error)));
    --error-bg-high: light-dark(lch(var(--invert-luminance-high) 50 var(--error)), lch(var(--luminance-high) 100 var(--error)));
    --error-fg-low: light-dark(lch(var(--luminance-low) 100 var(--error)), lch(var(--invert-luminance-low) 50 var(--error)));
    --error-fg: light-dark(lch(var(--luminance) 100 var(--error)), lch(var(--invert-luminance) 50 var(--error)));
    --error-fg-high: light-dark(lch(var(--luminance-high) 100 var(--error)), lch(var(--invert-luminance-high) 50 var(--error)));

    --bg: var(--surface-bg);
    --bg-low: var(--surface-bg-low);
    --bg-high: var(--surface-bg-high);
    --fg: var(--surface-fg);
    --fg-low: var(--surface-fg-low);
    --fg-high: var(--surface-fg-high);
}

.palette--primary {
    --bg: var(--primary-bg);
    --bg-low: var(--primary-bg-low);
    --bg-high: var(--primary-bg-high);
    --fg: var(--primary-fg);
    --fg-low: var(--primary-fg-low);
    --fg-high: var(--primary-fg-high);
}

.palette--secondary {
    --bg: var(--secondary-bg);
    --bg-low: var(--secondary-bg-low);
    --bg-high: var(--secondary-bg-high);
    --fg: var(--secondary-fg);
    --fg-low: var(--secondary-fg-low);
    --fg-high: var(--secondary-fg-high);
}

.palette--tertiary {
    --bg: var(--tertiary-bg);
    --bg-low: var(--tertiary-bg-low);
    --bg-high: var(--tertiary-bg-high);
    --fg: var(--tertiary-fg);
    --fg-low: var(--tertiary-fg-low);
    --fg-high: var(--tertiary-fg-high);
}

.palette--error {
    --bg: var(--error-bg);
    --bg-low: var(--error-bg-low);
    --bg-high: var(--error-bg-high);
    --fg: var(--error-fg);
    --fg-low: var(--error-fg-low);
    --fg-high: var(--error-fg-high);
}

.palette--surface {
    --bg: var(--surface-bg);
    --bg-low: var(--surface-bg-low);
    --bg-high: var(--surface-bg-high);
    --fg: var(--surface-fg);
    --fg-low: var(--surface-fg-low);
    --fg-high: var(--surface-fg-high);
}
