/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */

/*
 * 当前文件定义了与主题相关的变量。
 *
 * ## 颜色
 *
 * 颜色被分为 primary、secondary、tertiary、surface 和 error 等五个色盘，
 * 每个色盘衍生出 bg、bg-low、bg-high、text、text-low 和 text-high 六种颜色。
 *
 * 对于使用者，可以直接通过 var(--primary-bg) 等变量直接调用颜色，
 * 或是采用 var(--bg) 读取当前上下文中采用色盘中的颜色。
 * 两种方式，前者颜色固定，后者向上查找最近定义的 .palette--* CSS 类型，从中获取值。
 *
 * 如果需要自定义颜色，有以下几种方式：
 *  - 指定 primary 和 error 两种最基本的色像，其它由 CSS 根据 primary 计算得出；
 *  - 同时指定 primary、error、secondary、tertiary 和 surface 五种色像，由 CSS 计算深色模式下的颜色值；
 *  - 同时指定五种色盘的每个衍生色在深色模式下亮色模式下的值。
 * NOTE: 色像 (hue) 的值，在 0-360 之间，具体说明可参考：https://developer.mozilla.org/zh-CN/docs/Web/CSS/color_value/lch#%E5%8F%96%E5%80%BC。
 *
 * contrast 表示对比度，0-100，100 为最高对比度。
 */

:root {
    --primary: 0;
    --error: 20;
    --secondary: calc(var(--primary) + 60);
    --tertiary: calc(var(--primary) + 120);
    --surface: calc(var(--primary) + 180);

    --contrast: 100;

    /* 文本框中实际内容的最小尺寸，统一指定，方便控制。 */
    --min-input-height: 24px;
}

:root {
    --luminance-low: 40;
    --luminance: 25;
    --luminance-high: 10;

    --invert-luminance-low: calc(var(--contrast) - var(--luminance-high));
    --invert-luminance: calc(var(--contrast) - var(--luminance));
    --invert-luminance-high: calc(var(--contrast) - var(--luminance-low));
}

:root {
    color-scheme: light;
    --primary-bg-low: lch(var(--invert-luminance-low) 100 var(--primary));
    --primary-bg: lch(var(--invert-luminance) 100 var(--primary));
    --primary-bg-high: lch(var(--invert-luminance-high) 100 var(--primary));
    --primary-text-low: lch(var(--luminance-low) 20 var(--primary));
    --primary-text: lch(var(--luminance) 20 var(--primary));
    --primary-text-high: lch(var(--luminance-high) 20 var(--primary));

    --secondary-bg-low: lch(var(--invert-luminance-low) 100 var(--secondary));
    --secondary-bg: lch(var(--invert-luminance) 100 var(--secondary));
    --secondary-bg-high: lch(var(--invert-luminance-high) 100 var(--secondary));
    --secondary-text-low: lch(var(--luminance-low) 20 var(--secondary));
    --secondary-text: lch(var(--luminance) 20 var(--secondary));
    --secondary-text-high: lch(var(--luminance-high) 20 var(--secondary));

    --tertiary-bg-low: lch(var(--invert-luminance-low) 100 var(--tertiary));
    --tertiary-bg: lch(var(--invert-luminance) 100 var(--tertiary));
    --tertiary-bg-high: lch(var(--invert-luminance-high) 100 var(--tertiary));
    --tertiary-text-low: lch(var(--luminance-low) 20 var(--tertiary));
    --tertiary-text: lch(var(--luminance) 20 var(--tertiary));
    --tertiary-text-high: lch(var(--luminance-high) 20 var(--tertiary));

    --surface-bg-low: lch(var(--invert-luminance-low) 100 var(--surface));
    --surface-bg: lch(var(--invert-luminance) 100 var(--surface));
    --surface-bg-high: lch(var(--invert-luminance-high) 100 var(--surface));
    --surface-text-low: lch(var(--luminance-low) 20 var(--surface));
    --surface-text: lch(var(--luminance) 20 var(--surface));
    --surface-text-high: lch(var(--luminance-high) 20 var(--surface));

    --error-bg-low: lch(var(--invert-luminance-low) 100 var(--error));
    --error-bg: lch(var(--invert-luminance) 100 var(--error));
    --error-bg-high: lch(var(--invert-luminance-high) 100 var(--error));
    --error-text-low: lch(var(--luminance-low) 20 var(--error));
    --error-text: lch(var(--luminance) 20 var(--error));
    --error-text-high: lch(var(--luminance-high) 20 var(--error));
}

.dark {
    color-scheme: dark;
    --primary-bg-low: lch(var(--luminance-low) 20 var(--primary));
    --primary-bg: lch(var(--luminance) 20 var(--primary));
    --primary-bg-high: lch(var(--luminance-high) 20 var(--primary));
    --primary-text-low: lch(var(--invert-luminance-low) 100 var(--primary));
    --primary-text: lch(var(--invert-luminance) 100 var(--primary));
    --primary-text-high: lch(var(--invert-luminance-high) 100 var(--primary));

    --secondary-bg-low: lch(var(--luminance-low) 20 var(--secondary));
    --secondary-bg: lch(var(--luminance) 20 var(--secondary));
    --secondary-bg-high: lch(var(--luminance-high) 20 var(--secondary));
    --secondary-text-low: lch(var(--invert-luminance-low) 100 var(--secondary));
    --secondary-text: lch(var(--invert-luminance) 100 var(--secondary));
    --secondary-text-high: lch(var(--invert-luminance-high) 100 var(--secondary));

    --tertiary-bg-low: lch(var(--luminance-low) 20 var(--tertiary));
    --tertiary-bg: lch(var(--luminance) 20 var(--tertiary));
    --tertiary-bg-high: lch(var(--luminance-high) 20 var(--tertiary));
    --tertiary-text-low: lch(var(--invert-luminance-low) 100 var(--tertiary));
    --tertiary-text: lch(var(--invert-luminance) 100 var(--tertiary));
    --tertiary-text-high: lch(var(--invert-luminance-high) 100 var(--tertiary));

    --surface-bg-low: lch(var(--luminance-low) 20 var(--surface));
    --surface-bg: lch(var(--luminance) 20 var(--surface));
    --surface-bg-high: lch(var(--luminance-high) 20 var(--surface));
    --surface-text-low: lch(var(--invert-luminance-low) 100 var(--surface));
    --surface-text: lch(var(--invert-luminance) 100 var(--surface));
    --surface-text-high: lch(var(--invert-luminance-high) 100 var(--surface));

    --error-bg-low: lch(var(--luminance-low) 20 var(--error));
    --error-bg: lch(var(--luminance) 20 var(--error));
    --error-bg-high: lch(var(--luminance-high) 20 var(--error));
    --error-text-low: lch(var(--invert-luminance-low) 100 var(--error));
    --error-text: lch(var(--invert-luminance) 100 var(--error));
    --error-text-high: lch(var(--invert-luminance-high) 100 var(--error));
}

:root {
    --bg: var(--surface-bg);
    --bg-low: var(--surface-bg-low);
    --bg-high: var(--surface-bg-high);
    --text: var(--surface-text);
    --text-low: var(--surface-text-low);
    --text-high: var(--surface-text-high);
}

.palette--primary {
    --bg: var(--primary-bg);
    --bg-low: var(--primary-bg-low);
    --bg-high: var(--primary-bg-high);
    --text: var(--primary-text);
    --text-low: var(--primary-text-low);
    --text-high: var(--primary-text-high);
}

.palette--secondary {
    --bg: var(--secondary-bg);
    --bg-low: var(--secondary-bg-low);
    --bg-high: var(--secondary-bg-high);
    --text: var(--secondary-text);
    --text-low: var(--secondary-text-low);
    --text-high: var(--secondary-text-high);
}

.palette--tertiary {
    --bg: var(--tertiary-bg);
    --bg-low: var(--tertiary-bg-low);
    --bg-high: var(--tertiary-bg-high);
    --text: var(--tertiary-text);
    --text-low: var(--tertiary-text-low);
    --text-high: var(--tertiary-text-high);
}

.palette--error {
    --bg: var(--error-bg);
    --bg-low: var(--error-bg-low);
    --bg-high: var(--error-bg-high);
    --text: var(--error-text);
    --text-low: var(--error-text-low);
    --text-high: var(--error-text-high);
}

.palette--surface {
    --bg: var(--surface-bg);
    --bg-low: var(--surface-bg-low);
    --bg-high: var(--surface-bg-high);
    --text: var(--surface-text);
    --text-low: var(--surface-text-low);
    --text-high: var(--surface-text-high);
}
