/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../style.css';

@layer components {
.input {
        @apply rounded-md border border-palette-border flex justify-between text-center w-full h-full;

        @apply has-[:focus:enabled]:border-palette-border-focused has-[:focus:enabled]:bg-palette-bg-focused;
        @apply has-[:hover:enabled]:border-palette-border-focused has-[:hover:enabled]:bg-palette-bg-focused;
        @apply has-[:active:enabled]:border-palette-border-actived has-[:active:enabled]:bg-palette-bg-actived;
        @apply transition;

        >:first-child {
            @apply rounded-l-md!;
        }

        >:last-child {
            @apply rounded-r-md!;
        }

        >input {
            @apply p-1 outline-none bg-transparent flex-1 w-full text-left;

            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }

        >input::-webkit-outer-spin-button,
        >input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .input:has(:disabled) {
        @apply border-palette-border-disabled text-palette-fg-disabled;
    }

    .input.rounded {
        @apply rounded-full;

        >:first-child {
            @apply rounded-l-full!;
        }

        >:last-child {
            @apply rounded-r-full!;
        }
    }
}
