/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@layer components {
    .list {
        @apply flex flex-col p-2 gap-1 min-w-[200px] rounded-md;
        color: var(--text);
        background-color: var(--bg);

        .item {
            @apply flex flex-col gap-y-1;

            .title {
                @apply rounded-md flex p-2 gap-1 icon-container cursor-pointer hover:bg-[var(--bg-low)] hover:text-[var(--text-low)];

                .tail {
                    margin-left: auto;
                }
            }
        }

        .item.active {
            .title {
                background-color: var(--bg-high);
                color: var(--text-high);
            }
        }
    }
}
