/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../../style.css';

@layer components {
    .error {
        @apply border border-palette-border text-palette-fg p-1;
        @apply flex justify-center items-center rounded-sm w-full;
    }
}
