/*
 * SPDX-FileCopyrightText: 2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@import "tailwindcss";
@import "@cmfx/themes/tailwind.css";

@source ".";

:root 	{
		color-scheme: light dark;

		--illustration-text: light-dark(#333, #eee);
		--illustration-bg: light-dark( #eee, #333);
	}
