/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@layer components {
    .c--table {
        @apply bg-palette-bg text-palette-fg w-full;
        border: 1px solid var(--fg-low);

        th,
        td {
            @apply px-2 py-1 text-left;
            border-bottom: 1px solid var(--fg-low);
        }

        tbody.hoverable {
            tr.striped {
                @apply bg-palette-bg-low;
            }

            tr:hover {
                @apply bg-palette-bg-high;
            }
        }

        tbody tr.striped {
            @apply bg-palette-bg-low;
        }
    }

    .c--table.c--table-fixed {
        table-layout: fixed;
    }
}
