/*
 * SPDX-FileCopyrightText: 2024-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference "../style.css";

@layer components {
	.description {
		@apply rounded-md flex flex-col text-palette-fg bg-palette-bg gap-2;

		.desc {
			@apply text-sm;
		}
	}
}
