/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../../style.css';

@layer components {
    fieldset.dateview {
        @apply border border-palette-border rounded-lg overflow-clip;
        @apply text-center bg-palette-bg text-palette-fg box-border;
        @apply flex flex-col;

        >header {
            @apply flex gap-1 justify-between items-center text-lg;
            @apply border-b border-b-palette-border;
            @apply px-2 pb-1 pt-2;

            >p {
                @apply flex;

                >span {
                    @apply cursor-pointer;
                }

                >span:hover {
                    @apply text-palette-fg-high;
                }
            }

            .actions {
                button {
                    @apply p-1!;
                }
            }
        }

        >table {
            @apply border-spacing-0 border-separate;

            colgroup {
                .weekend {
                    @apply bg-palette-bg-low;
                }
            }

            thead>tr {
                @apply font-bold;
            }
        }
    }

    fieldset.dateview:disabled {
        @apply text-palette-fg-disabled bg-palette-bg-disabled border-palette-bg-disabled cursor-not-allowed;

        >table {
            tbody td,
            tbody * {
                @apply cursor-not-allowed;
            }
        }
    }
}
