/*
 * SPDX-FileCopyrightText: 2024-2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../style.css';

@layer components {
    .drawer {
        @apply h-full w-full flex overflow-hidden;
        @apply relative;

        >aside {
            @apply h-full bg-[var(--bg)] text-[var(--fg)] z-50 overflow-y-auto;
            transform-origin: left;
            transform: scaleX(1);
            flex-basis: content;
            transition: transform var(--default-transition-duration) ease-in-out;
        }

        >main {
            @apply overflow-y-auto h-full flex-1;
        }

        /* Transition 动画 */

        .drawer-fade-enter-active,
        .drawer-fade-exit-active {
            transition: opacity var(--default-transition-duration), transform var(--default-transition-duration);
        }

        .drawer-fade-enter,
        .drawer-fade-exit-to {
            transform: translateX(10px);
            opacity: 0;
        }

        .drawer-fade-enter {
            transform: translateX(-10px);
            opacity: 1;
        }
    }

    .drawer.right {
        @apply flex-row-reverse;

        >aside {
            transform-origin: right;
        }
    }
}