/*
 * SPDX-FileCopyrightText: 2024-2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../style.css';

@layer components {
    .drawer {
        @apply h-full w-full flex overflow-hidden relative bg-palette-bg text-palette-fg;

        >aside {
            @apply h-full bg-palette-bg text-palette-fg z-affix overflow-y-auto overflow-x-hidden;
            transform-origin: left;
            transform: scaleX(1);
            flex-basis: content;
            @apply transition-transform ease-in-out;
        }

        >main {
            @apply overflow-y-auto h-full flex-1 text-palette-fg bg-palette-bg;
        }
    }

    .drawer.end {
        @apply flex-row-reverse;

        >aside {
            transform-origin: right;
        }
    }
}
