/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

/* NOTE: @utility 直接写在 style.module.css 中无效？ */

@utility cmfx-drawer-floating-aside {
    position: absolute;
}

@utility cmfx-drawer-hidden-aside {
    transform: scaleX(0);
}
