/*
 * SPDX-FileCopyrightText: 2024-2025 caixw
 *
 * SPDX-License-Identifier: MIT
*/

@reference '../../style.css';

@layer components {
    input[type="checkbox"] {
        @apply appearance-none relative inline-block p-0 w-4 h-4 cursor-pointer outline-none;
        @apply border-2 border-palette-fg hover:border-palette-fg-high !rounded-xs;
    }

    input[type="checkbox"].rounded {
        @apply !rounded-full;
    }

    input[type="checkbox"]:disabled {
        @apply cursor-not-allowed border-palette-bg-low;
    }

    input[type="checkbox"]:not(:indeterminate):after {
        @apply block absolute opacity-0 w-1/3 h-2/3 left-1/3 top-1/10;
        @apply border-e-2 border-e-palette-fg;
        @apply border-b-2 border-b-palette-fg;
        content: '';
        transform: rotate(45deg);
        transform-origin: center center;
        transition: all var(--default-transition-duration) ease;
    }

    input[type="checkbox"]:indeterminate:after {
        @apply block absolute h-[2px] left-1/5 right-1/5 top-[calc(50%-1px)];
        @apply bg-palette-fg;
        content: '';
        transform-origin: center center;
        transition: all var(--default-transition-duration) ease;
    }

    input[type="checkbox"]:disabled:after {
        @apply cursor-not-allowed border-palette-bg-low;
    }

    input[type="checkbox"]:checked:after {
        opacity: 1;
    }

    /* 以上重新定义了 checkbox 的样式 */

    .checkbox {
        @apply border-2 border-transparent text-palette-fg;
        @apply flex items-center justify-center gap-1;
    }

    .checkbox.block {
        @apply border-palette-fg-low rounded-sm has-[:checked]:border-palette-bg;
        @apply min-w-[1rem] min-h-[1rem];
    }

    .checkbox:focus-visible {
        outline: none;
    }

    .checkbox:has(:enabled):hover {
        cursor: pointer;
    }

    .checkbox.block:has(:enabled):hover {
        @apply border-palette-bg-high;
    }

    .checkbox:has(:disabled) {
        @apply cursor-not-allowed text-palette-bg-low;
    }

    .group-content {
        @apply flex flex-wrap gap-1 justify-between w-full;
    }
}
