/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@layer components {
    .c--list {
        /* 组件中引用此值 */
        --item-space: theme('spacing.2');

        @apply text-[var(--fg)] bg-[var(--bg)] flex flex-col gap-1 min-w-[200px];


        .item {
            @apply hover:bg-palette-bg-low cursor-pointer border-0 outline-none;
            padding: var(--item-space);
        }

        .item:focus-visible {
            @apply bg-palette-bg-low;
        }

        /* 带子项的 */
        details {
            summary {
                @apply flex cursor-pointer list-none;
                padding-left: var(--item-space);
                padding-right: var(--item-space);

                .expand {
                    @apply ml-auto flex items-center;
                }
            }

            /* safari 无法通过 summary.list-style 设置 */
            summary::-webkit-details-marker,
            summary::marker {
                display: none;
            }

            >menu {
                @apply flex flex-col gap-1;
            }
        }

        .group {
            @apply text-[var(--fg-low)] cursor-default;
            padding-left: var(--item-space);
            padding-right: var(--item-space);
        }

        .item.selected {
            @apply bg-[var(--bg-high)] text-[var(--fg-high)];
        }
    }
}
