/*
 * SPDX-FileCopyrightText: 2024-2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../../style.css';

@layer components {
    input[type="radio"] {
        @apply appearance-none relative inline-block w-3 h-3 !rounded-full cursor-pointer;
        @apply p-0 border-[2px] border-palette-fg outline-0 hover:border-palette-fg-high;

        vertical-align: middle;
        transition: all var(--default-transition-duration) ease;
    }

    input[type="radio"]:disabled {
        border-color: var(--bg-low);
        cursor: not-allowed;
    }

    /* 内部实心圆 */
    input[type="radio"]:after {
        @apply inline-block absolute left-1/4 top-1/4 bg-palette-fg rounded-full w-1/2 h-1/2 opacity-0;
        content: '';
        transition: all var(--default-transition-duration) ease;
        transform-origin: center center;
        pointer-events: none;
    }

    input[type="radio"]:checked:after {
        opacity: 1;
    }

    /* 以上代码重定义了默认的 radio 样式 */

    .group-content[type="radio"]:disabled:after {
        cursor: not-allowed;
        background: var(--bg-low);
    }

    .group-content {
        @apply flex flex-wrap gap-1 justify-between w-full;

        label {
            @apply border-2 border-transparent flex items-center text-palette-fg box-border;
            @apply overflow-hidden cursor-pointer;

            input {
                @apply mr-[2px]
            }
        }

        label.border {
            @apply border-palette-bg-low rounded-sm;
            @apply has-[:checked]:border-palette-fg-high;
        }

        .content {
            @apply flex flex-wrap gap-1;
        }
    }

    .group-content:enabled {
        label {
            cursor: pointer;
        }

        label.border {
            @apply hover:border-[var(--bg-high)];
        }
    }

    .group-content:disabled {
        @apply cursor-not-allowed;

        label {
            @apply cursor-not-allowed text-palette-bg-low;
        }
    }
}
