/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@layer components {
    .c--menu {
        @apply text-[var(--fg)] bg-[var(--bg)] gap-y-1 min-w-[200px] rounded-md overflow-visible;
        @apply flex flex-col border border-palette-bg-low;

        :first-child {
            @apply rounded-t-md;
        }

        :last-child {
            @apply rounded-b-md;
        }

        .item {
            @apply p-2 hover:bg-[var(--bg-low)] cursor-pointer relative flex;

            .expand {
                @apply ml-auto flex items-center;
            }

            >.c--menu.left {
                @apply right-[100%];
            }

            >.c--menu.right {
                @apply left-[100%];
            }
        }

        .item:hover {
            >.c--menu {
                @apply absolute top-0 flex-col flex;

                opacity: 1;
                visibility: visible;
                transition: opacity var(--transition-duration) linear;
            }
        }

        .opacity-0 {
            @apply absolute top-0 flex-col flex;

            visibility: hidden;
            opacity: 0;
            transition: visibility 0s var(--transition-duration), opacity var(--transition-duration) linear;
        }

        .group {
            @apply text-[var(--fg-low)] cursor-default px-2;
        }

        .item.selected {
            @apply bg-[var(--bg-high)] text-[var(--fg-high)];
        }
    }
}
