/*
 * SPDX-FileCopyrightText: 2024-2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@layer components {
    .c--field {
        .ql-toolbar {
            border-top-color: var(--fg-low) !important;
            border-left-color: var(--fg-low) !important;
            border-right-color: var(--fg-low) !important;
            @apply rounded-t-md;
        }

        .ql-container {
            border-bottom-color: var(--fg-low) !important;
            border-left-color: var(--fg-low) !important;
            border-right-color: var(--fg-low) !important;
            @apply rounded-b-md;
        }
    }

    .c--field:has([contenteditable=true]):hover,
    .c--field:focus-within {
        .ql-toolbar {
            border-top-color: var(--fg-high) !important;
            border-left-color: var(--fg-high) !important;
            border-right-color: var(--fg-high) !important;
        }

        .ql-container {
            border-bottom-color: var(--fg-high) !important;
            border-left-color: var(--fg-high) !important;
            border-right-color: var(--fg-high) !important;
        }
    }
}