/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@layer components {
    .c--editor {
        >:first-child {
            border-top-color: var(--fg-low) !important;
            border-left-color: var(--fg-low) !important;
            border-right-color: var(--fg-low) !important;
            @apply rounded-t-md;
        }

        >:last-child {
            border-bottom-color: var(--fg-low) !important;
            border-left-color: var(--fg-low) !important;
            border-right-color: var(--fg-low) !important;
            @apply rounded-b-md;
        }
    }

    .c--editor:has([contenteditable=true]):hover,
    .c--editor:focus-within {
        >:first-child {
            border-top-color: var(--fg-high) !important;
            border-left-color: var(--fg-high) !important;
            border-right-color: var(--fg-high) !important;
        }

        >:last-child {
            border-bottom-color: var(--fg-high) !important;
            border-left-color: var(--fg-high) !important;
            border-right-color: var(--fg-high) !important;
        }
    }
}
