/*
 * SPDX-FileCopyrightText: 2025-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference "../../style.css";

@layer components {
	.timezone{
		@apply w-full!;

		.panel {
			@apply mt-2 p-2 gap-1 h-50 overflow-y-auto;
			@apply grid content-start;
			grid-template-columns: repeat(auto-fill, minmax(--spacing(50), 1fr));

			.item {
				@apply justify-start items-start flex-col;

				.line {
					@apply w-full text-left text-ellipsis overflow-x-hidden;
				}
			}
		}
	}
}
