/*
 * SPDX-FileCopyrightText: 2025-2026 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../style.css';

@layer components {
    .appbar {
        @apply bg-palette-bg text-palette-fg px-2;
        @apply w-full py-4 flex flex-wrap gap-4 justify-between items-center;

        .title {
            @apply flex items-center justify-start gap-2 shrink-0 whitespace-nowrap;

            .logo {
                @apply block;
                @apply w-auto min-w-6;
                @apply h-full min-h-6;
            }

            .name {
                @apply block text-lg font-bold;
            }
        }

        .main {
            @apply flex flex-1 justify-start items-center;
        }

        .actions {
            @apply flex gap-2 items-center justify-between justify-self-end;
        }
    }
}
