/*
 * SPDX-FileCopyrightText: 2024-2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@utility c--drawer-floating {
    @apply relative;

    >aside {
        position: absolute;
        transform-origin: left;
        transform: scaleX(1);
        transition: transform var(--transition-duration) ease-in-out;
    }

    >aside.aside-hidden {
        transform: scaleX(0) !important;
    }

    .pos-right {
        @apply right-0;
        transform-origin: right;
    }
}

@layer components {
    .c--drawer {
        @apply h-full w-full flex overflow-hidden;

        >aside {
            @apply h-full bg-[var(--bg)] text-[var(--fg)] z-50 overflow-y-auto;
        }

        >main {
            @apply overflow-y-auto h-full flex-1;
        }
    }

    .c--drawer:not(:has(>aside.aside-hidden))::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-size: cover;
        background-color: rgb(1 1 1 / .2);
    }
}