/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@layer components {
    .c--drawer {
        @apply h-full w-full flex overflow-hidden;

        >aside {
            @apply h-full bg-[var(--bg)] text-[var(--fg)] transition-[width] z-50 overflow-y-auto;
        }

        >main {
            @apply overflow-y-auto h-full flex-1;
        }
    }

    .c--drawer.c--drawer-floating {
        position: relative;

        >aside {
            position: absolute;
        }
    }

    .c--drawer.c--drawer-floating:not(:has(>aside.hidden))::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: cover;
        background-color: rgb(1 1 1 / .2);
    }
}
