/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../style.css';

@layer components {
    .code {
        @apply rounded-lg relative p-2 overflow-clip;
        @apply border border-palette-bg-low;
        @apply text-palette-fg bg-palette-bg;

        >pre {
            @apply font-mono leading-5 overflow-auto h-full w-full;
        }

        >pre.break {
            word-wrap: break-word;
            word-break: break-word;
            white-space: pre-wrap;
        }

        >.action {
            @apply hidden justify-end absolute top-0 right-0 !py-1 !px-2;
        }

        >.lang {
            @apply inline absolute top-0 right-0 !py-1 !px-2 mr-2;
        }
    }

    .code:hover {
        >.action {
            @apply flex;
        }

        >.lang {
            @apply hidden;
        }
    }
}
