/*
 * SPDX-FileCopyrightText: 2024 caixw
 *
 * SPDX-License-Identifier: MIT
 */

.c--date-activator {
    .activator-container {
        @apply rounded-md border border-[var(--fg-low)] flex icon-container px-2 py-1 cursor-pointer;
        @apply has-[:focus:enabled]:border-[var(--fg-high)] has-[:hover:enabled]:border-[var(--fg-high)];

        .input {
            min-height: var(--min-input-height);
            @apply bg-transparent flex flex-wrap px-1 w-full gap-1 cursor-pointer;
            @apply peer-disabled:cursor-not-allowed peer-read-only:cursor-default;

            .placeholder {
                @apply text-[var(--fg-low)];
            }
        }
    }

    .activator-container.rounded {
        @apply rounded-full;
    }
}

.c--date-panel {
    @apply flex flex-col border rounded-md text-center bg-[var(--bg)] text-[var(--fg)] p-2;

    .title {
        @apply pb-2 cursor-pointer;

        .item {
            @apply mx-1;
        }
    }

    .weeks,
    .days {
        @apply grid gap-2 cursor-default;
        grid-template-columns: repeat(7, minmax(2rem, 1fr));
    }

    .days {
        button {
            @apply border border-transparent rounded-full text-sm p-1 hover:enabled:bg-[var(--bg-high)];
        }

        button.selected {
            @apply bg-[var(--bg-high)];
        }

        button.disabled {
            @apply text-[var(--fg-low)];
        }
    }

    .actions {
        @apply flex content-around items-center mt-2 gap-x-1 h-[34px];

        .tail {
            margin-left: auto;
            color: var(--primary-bg);
        }
    }
}

.date-panel.disabled,
.date-panel.disabled * {
    cursor: not-allowed;
    color: var(--fg-low);
}
