/*
 * SPDX-FileCopyrightText: 2024-2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@layer components {
    .c--button {
        @apply cursor-pointer py-1 px-3 text-nowrap text-palette-fg;
        @apply border border-transparent outline-none rounded-md;
        @apply flex items-center justify-center text-center;
    }

    .c--button.c--button-icon {
        @apply !p-2;
    }

    .c--button.c--button-fill {
        @apply text-(--fg) bg-palette-bg border-(--bg);
    }

    .c--button.c--button-fill:enabled:hover,
    .c--button.c--button-fill.checked,
    .c--button.c--button-fill.link-enabled:hover,
    .c--button.c--button-fill:focus-visible {
        @apply !bg-(--bg-high);
    }

    .c--button.c--button-border {
        @apply text-[var(--fg)] bg-transparent border-[var(--fg)];
    }

    .c--button.c--button-border:enabled:hover,
    .c--button.c--button-border.checked,
    .c--button.c--button-border.link-enabled:hover,
    .c--button.c--button-border:focus-visible {
        @apply !bg-[var(--bg)];
    }

    .c--button.c--button-flat {
        @apply bg-transparent;
    }

    .c--button.c--button-flat:enabled:hover,
    .c--button.c--button-flat.checked,
    .c--button.c--button-flat.link-enabled:hover,
    .c--button.c--button-flat:focus-visible {
        @apply !bg-[var(--bg-high)] border-[var(--bg-high)];
    }

    .c--button.link-disabled,
    .c--button:disabled {
        @apply cursor-not-allowed text-[var(--bg-low)];
    }

    /************************* button-group ******************************/

    .c--button-group {
        @apply text-[var(--fg)] bg-[var(--bg-low)] flex border-solid border border-transparent rounded-l-md rounded-r-md;
        @apply overflow-clip;

        .c--button {
            @apply rounded-none border-none flex-1 py-1 px-3 text-[var(--fg)] outline-none;
        }

        .c--button.split {
            border-left: 1px solid var(--bg-low) !important;
        }

        .c--button.c--button-icon {
            @apply p-2;
        }
    }

    .c--button-group.vertical {
        @apply flex-col;
    }

    .c--button-group.c--button-group-rounded {
        @apply rounded-l-full rounded-r-full;
    }

    .c--button-group.c--button-group-fill {
        @apply bg-[var(--bg-low)];

        .c--button {
            @apply bg-[var(--bg)];
        }

        .c--button:enabled:hover,
        .c--button.link-enabled:hover,
        .c--button:focus-visible {
            @apply bg-[var(--bg-high)];
        }
    }

    .c--button-group.c--button-group-border {
        @apply text-[var(--bg)] bg-transparent border border-[var(--bg)];

        .c--button {
            @apply bg-transparent border-transparent;
        }

        .c--button:enabled:hover,
        .c--button.link-enabled:hover,
        .c--button:focus-visible {
            @apply bg-[var(--bg)];
        }

        .c--button.split:enabled {
            border-left-color: var(--bg) !important;
        }
    }

    .c--button-group.c--button-group-flat {
        @apply bg-transparent text-[var(--bg)] pointer-events-none;

        .c--button {
            @apply bg-transparent border-transparent pointer-events-auto;
        }

        .c--button:enabled:hover,
        .c--button.link-enabled:hover,
        .c--button:focus-visible {
            @apply bg-[var(--bg)];
        }

        .c--button.split:enabled {
            border-left-color: transparent !important;
        }
    }

    .c--button-group-flat:hover {
        @apply !border-[var(--bg)];
    }

    .c--button.link-disabled *,
    .c--button-group:disabled * {
        @apply cursor-not-allowed bg-[var(--bg-high)] text-[var(--bg-low)];
    }

    /************************* confirm-button ******************************/

    .c--confirm-button-panel {
        @apply p-4 gap-2 bg-palette-bg text-palette-fg mt-1 rounded-md m-0;

        .actions {
            @apply flex justify-end gap-2 mt-4;
        }
    }

    .c--confirm-button-panel:popover-open {
        @apply flex flex-col;
    }

    /************************* confirm-button ******************************/

    .c--split-button_content {
        @apply bg-palette-bg gap-y-1 rounded-md mt-1 border border-palette-bg-low m-0 flex flex-col;

        .item {
            @apply whitespace-nowrap justify-start rounded-none;
        }
    }

    /********************* fit-screen **********************/

    .c--fit-screen {
        @apply !fixed !top-0 !left-0 !w-full !h-full !bg-palette-bg !z-[1000] p-4 overflow-y-scroll;
    }
}