<?xml version="1.0" encoding="utf-8" ?>
<web>
    <http port=":8080" />
    <logs created="15:04:05.000" caller="true">
        <handlers>
            <handler type="file">
                <arg>./logs</arg>
                <arg>20060102-%i.log</arg>
                <arg>10485760</arg><!-- 约 10M -->
            </handler>
            <handler type="term">
                <arg>stdout</arg>
            </handler>
        </handlers>
    </logs>

    <encodings>
        <encoding id="deflate-default">
            <type>*</type>
        </encoding>
        <encoding id="gzip-default">
            <type>*</type>
        </encoding>
        <encoding id="br-default">
            <type>*</type>
        </encoding>
        <encoding id="compress-msb-8">
            <type>*</type>
        </encoding>
    </encodings>

    <mimetypes>
        <mimetype type="application/json" target="json" problem="application/problem+json" />
        <mimetype type="application/xml" target="xml" problem="application/problem+xml" />
        <mimetype type="text/xml" target="xml" problem="application/problem+xml" />
        <mimetype type="multipart/form-data" target="nop" />
    </mimetypes>

    <fileSerializers>
        <fileSerializer>json</fileSerializer>
        <fileSerializer>xml</fileSerializer>
        <fileSerializer>yaml</fileSerializer>
    </fileSerializers>

    <user>
        <ratelimit capacity="50">
            <rate>1s</rate>
            <prefix>ratelimit___</prefix>
        </ratelimit>

        <db type="sqlite3">
            <dsn>./server.db</dsn>
        </db>

        <url>http://localhost:8080</url>

        <admin superUser="1">
            <user accessExpires="43200" refreshExpires="86400">
                <urlPrefix>/admin</urlPrefix>
            </user>
        </admin>
    </user>
</web>
