/*
 * SPDX-FileCopyrightText: 2024-2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

/*
 * 当前文件定义了与主题相关的 CSS 变量
 */

/*
 * 颜色被分为 primary、secondary、tertiary、surface 和 error 五个色盘，
 * 每个色盘衍生出 bg、bg-low、bg-high、fg、fg-low 和 fg-high 六种颜色。
 *
 * 对于使用者，可以直接通过 var(--primary-bg) 等变量直接调用颜色，
 * 或是采用 var(--bg) 读取当前上下文中色盘中的衍生颜色。
 * 两种方式，前者颜色固定，后者向上查找最近定义的 .palette--* 类型，从中获取值。
 *
 * 可通过定义这些颜色值改变整体的页面颜色。其中只有 --primary 是必须指定的，
 * 其它的颜色会根据 --primary 自动调整，当然也可以所有颜色都直接指定。
 *
 * 颜色的取值范围为 [0,360]，具体说明可参考：https://developer.mozilla.org/zh-CN/docs/Web/CSS/color_value/lch#%E5%8F%96%E5%80%BC。
 */
:root {
    --primary: 0;
    --error: 20;
    --secondary: calc(var(--primary) + 60);
    --tertiary: calc(var(--primary) + 120);
    --surface: calc(var(--primary) + 180);
}

/*
 * 定义了与动画相关的变量
 */
:root {
    /* 动画时间 */
    --transition-duration: 300ms;
}

/*
 * 定义了颜色的感知亮度
 *
 * --lightness 范围：[.5,1]，可通过改变此值调整页面的亮度。
 */
:root {
    --lightness: 1;

    --l-low: .3;
    --l: .2;
    --l-high: .1;

    --invert-l-low: calc(var(--lightness) - var(--l-low));
    --invert-l: calc(var(--lightness) - var(--l));
    --invert-l-high: calc(var(--lightness) - var(--l-high));
}

/*
 * 根据上面定义的值计算实际使用的颜色变量
 */
:root {
    color-scheme: light dark;

    --primary-bg-low: light-dark(oklch(var(--invert-l-low) .2 var(--primary)), oklch(var(--l-low) .45 var(--primary)));
    --primary-bg: light-dark(oklch(var(--invert-l) .2 var(--primary)), oklch(var(--l) .4 var(--primary)));
    --primary-bg-high: light-dark(oklch(var(--invert-l-high) .2 var(--primary)), oklch(var(--l-high) .45 var(--primary)));
    --primary-fg-low: light-dark(oklch(var(--l-low) .4 var(--primary)), oklch(var(--invert-l-low) .2 var(--primary)));
    --primary-fg: light-dark(oklch(var(--l) .4 var(--primary)), oklch(var(--invert-l) .2 var(--primary)));
    --primary-fg-high: light-dark(oklch(var(--l-high) .4 var(--primary)), oklch(var(--invert-l-high) .2 var(--primary)));

    --secondary-bg-low: light-dark(oklch(var(--invert-l-low) .2 var(--secondary)), oklch(var(--l-low) .45 var(--secondary)));
    --secondary-bg: light-dark(oklch(var(--invert-l) .2 var(--secondary)), oklch(var(--l) .4 var(--secondary)));
    --secondary-bg-high: light-dark(oklch(var(--invert-l-high) .2 var(--secondary)), oklch(var(--l-high) .45 var(--secondary)));
    --secondary-fg-low: light-dark(oklch(var(--l-low) .4 var(--secondary)), oklch(var(--invert-l-low) .2 var(--secondary)));
    --secondary-fg: light-dark(oklch(var(--l) .4 var(--secondary)), oklch(var(--invert-l) .2 var(--secondary)));
    --secondary-fg-high: light-dark(oklch(var(--l-high) .4 var(--secondary)), oklch(var(--invert-l-high) .2 var(--secondary)));

    --tertiary-bg-low: light-dark(oklch(var(--invert-l-low) .2 var(--tertiary)), oklch(var(--l-low) .45 var(--tertiary)));
    --tertiary-bg: light-dark(oklch(var(--invert-l) .2 var(--tertiary)), oklch(var(--l) .4 var(--tertiary)));
    --tertiary-bg-high: light-dark(oklch(var(--invert-l-high) .2 var(--tertiary)), oklch(var(--l-high) .45 var(--tertiary)));
    --tertiary-fg-low: light-dark(oklch(var(--l-low) .4 var(--tertiary)), oklch(var(--invert-l-low) .2 var(--tertiary)));
    --tertiary-fg: light-dark(oklch(var(--l) .4 var(--tertiary)), oklch(var(--invert-l) .2 var(--tertiary)));
    --tertiary-fg-high: light-dark(oklch(var(--l-high) .4 var(--tertiary)), oklch(var(--invert-l-high) .2 var(--tertiary)));

    --surface-bg-low: light-dark(oklch(var(--invert-l-low) .01 var(--surface)), oklch(var(--l-low) .1 var(--surface)));
    --surface-bg: light-dark(oklch(var(--invert-l) .01 var(--surface)), oklch(var(--l) .03 var(--surface)));
    --surface-bg-high: light-dark(oklch(var(--invert-l-high) .01 var(--surface)), oklch(var(--l-high) .2 var(--surface)));
    --surface-fg-low: light-dark(oklch(var(--l-low) .1 var(--surface)), oklch(var(--invert-l-low) .2 var(--surface)));
    --surface-fg: light-dark(oklch(var(--l) .1 var(--surface)), oklch(var(--invert-l) .1 var(--surface)));
    --surface-fg-high: light-dark(oklch(var(--l-high) .1 var(--surface)), oklch(var(--invert-l-high) .2 var(--surface)));

    --error-bg-low: light-dark(oklch(var(--invert-l-low) .2 var(--error)), oklch(var(--l-low) .45 var(--error)));
    --error-bg: light-dark(oklch(var(--invert-l) .2 var(--error)), oklch(var(--l) .4 var(--error)));
    --error-bg-high: light-dark(oklch(var(--invert-l-high) .2 var(--error)), oklch(var(--l-high) .45 var(--error)));
    --error-fg-low: light-dark(oklch(var(--l-low) .4 var(--error)), oklch(var(--invert-l-low) .2 var(--error)));
    --error-fg: light-dark(oklch(var(--l) .4 var(--error)), oklch(var(--invert-l) .2 var(--error)));
    --error-fg-high: light-dark(oklch(var(--l-high) .4 var(--error)), oklch(var(--invert-l-high) .2 var(--error)));

    --bg: var(--surface-bg);
    --bg-low: var(--surface-bg-low);
    --bg-high: var(--surface-bg-high);
    --fg: var(--surface-fg);
    --fg-low: var(--surface-fg-low);
    --fg-high: var(--surface-fg-high);
}

.palette--primary {
    --bg: var(--primary-bg);
    --bg-low: var(--primary-bg-low);
    --bg-high: var(--primary-bg-high);
    --fg: var(--primary-fg);
    --fg-low: var(--primary-fg-low);
    --fg-high: var(--primary-fg-high);
}

.palette--secondary {
    --bg: var(--secondary-bg);
    --bg-low: var(--secondary-bg-low);
    --bg-high: var(--secondary-bg-high);
    --fg: var(--secondary-fg);
    --fg-low: var(--secondary-fg-low);
    --fg-high: var(--secondary-fg-high);
}

.palette--tertiary {
    --bg: var(--tertiary-bg);
    --bg-low: var(--tertiary-bg-low);
    --bg-high: var(--tertiary-bg-high);
    --fg: var(--tertiary-fg);
    --fg-low: var(--tertiary-fg-low);
    --fg-high: var(--tertiary-fg-high);
}

.palette--error {
    --bg: var(--error-bg);
    --bg-low: var(--error-bg-low);
    --bg-high: var(--error-bg-high);
    --fg: var(--error-fg);
    --fg-low: var(--error-fg-low);
    --fg-high: var(--error-fg-high);
}

.palette--surface {
    --bg: var(--surface-bg);
    --bg-low: var(--surface-bg-low);
    --bg-high: var(--surface-bg-high);
    --fg: var(--surface-fg);
    --fg-low: var(--surface-fg-low);
    --fg-high: var(--surface-fg-high);
}