/*
 * SPDX-FileCopyrightText: 2025 caixw
 *
 * SPDX-License-Identifier: MIT
 */

@reference '../style.css';

@layer components {
    article.doc {
        @apply p-2;

        p:first-of-type {
            /* 应用在 README.md 中的 badge 图标上 */
            @apply flex flex-wrap gap-2 mb-3;
        }

        h1 {
            @apply text-3xl font-bold mb-4;
        }

        h2 {
            @apply text-2xl font-bold mb-2 mt-5;
        }

        h3 {
            @apply text-xl font-bold mb-1 mt-4;
        }

        h4 {
            @apply text-lg font-bold mb-1 mt-4;
        }

        h5 {
            @apply text-lg font-bold mb-1 mt-4;
        }

        h6 {
            @apply text-base font-bold mb-1 mt-4;
        }

        p {
            @apply py-1;
        }

        ul {
            @apply ps-1 list-inside list-disc;
        }

        a:link,
        a:visited {
            @apply text-palette-fg-high;
        }

        /* 代码块的样式 */
        pre {
            @apply !bg-palette-bg-low !text-palette-fg rounded-md p-2;
        }
    }
}
